<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
	<meta charset="utf-8">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>校正啤酒肚</title>
	<link rel="icon" type="image/svg+xml" href="/Slogo.svg">
	<link href="https://www.eclife.com.tw/web/css/flexslider.css" rel="stylesheet">
	<link href="https://www.eclife.com.tw/Event/EventSelNItem/css/EventBasic.css" rel="stylesheet">	
	<link href="https://img.eclife.com.tw/EDM/Structure.min.V1.css" rel="stylesheet" />
    <link href="../correction/css/Event.V1.css" rel="stylesheet" />
  </head>
  <body>
    <script src="/Event/js/jquery.min.js"></script> 
    <script src="/Event/js/bootstrap.min.js"></script>
    <script src="/Event/js/vue.js"></script>

	<div id="lsdv" v-cloak>
		<div class="container-fruid">

			<!-- 刊頭 -->
			<div class="col-xs-12 EDM" v-html>
				<div class="col-xs-12 ec-logo">
	<div class="container logo-well">
		<a href="https://www.eclife.com.tw/" target="_blank" class="logo-a">
			<img src="https://img.eclife.com.tw/EDM/11006/618correction/logo.png" alt="EcLife" class="img-responsive">
		</a>
		<a href="./Index.4GOD.html" target="_blank" class="visible-lg visible-md link-a">618專區</a>
		<a href="../MatchGame/Index.V1.html" target="_blank" class="visible-lg visible-md link-a">領購物金</a>
		<a href="https://www.eclife.com.tw/EDM/Cont5960.htm" target="_blank"  class="visible-lg visible-md link-a">活動詳情</a>
	</div>
</div>

<div class="col-xs-12 EDM" data-name="EDM">
	<div class="container-fluid TopBg">
		<div class="container">
			<div class="col-xs-6 hidden-xs hidden-sm LeftPro">
				<a href="https://www.eclife.com.tw/pc_nb/moreinfo_178785.htm" target="_blank" class="col-xs-12 Pro">
					<img src="https://img.eclife.com.tw/EDM/11006/618correction/index_05.png" class="img-responsive" alt="iPad Air Wi-Fi 機型 64GB" />
				</a>
			</div>
			<div class="col-xs-6 hidden-xs hidden-sm RightPro">
				<a href="https://www.eclife.com.tw/SSD/moreinfo_164176.htm" target="_blank" class="col-xs-12 Pro">
					<img src="https://img.eclife.com.tw/EDM/11006/618correction/index_06.png" class="img-responsive" alt="TP-LINK Deco X20" />
				</a>
			</div>
			<div class="col-xs-12 gift">
				<a href="https://www.eclife.com.tw/EDM/Cont5960.htm" target="_blank" class="col-xs-12 tb-a">
					<picture>
						<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index_09.png" media="(min-width: 1023px)">
						<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index-m_02.png" media="(max-width: 1023px)">
						<img src="https://img.eclife.com.tw/EDM/11006/618correction/index_09.png" class="img-responsive" alt="滿額贈品" />
					</picture>
				</a>
			</div>
			<div class="col-xs-12 hidden-md hidden-lg LeftPro">
				<a href="https://www.eclife.com.tw/pc_nb/moreinfo_178785.htm" target="_blank" class="col-xs-12 Pro">
						<img src="https://img.eclife.com.tw/EDM/11006/618correction/index-m_03.png" class="img-responsive" alt="iPad Air Wi-Fi 機型 64GB" />
					</picture>
				</a>
			</div>
			<div class="col-xs-12 hidden-md hidden-lg RightPro">
				<a href="https://www.eclife.com.tw/SSD/moreinfo_164176.htm" target="_blank" class="col-xs-12 Pro">
					<img src="https://img.eclife.com.tw/EDM/11006/618correction/index-m_04.png" class="img-responsive" alt="TP-LINK Deco X20" />
				</a>
			</div>
			<div class="col-xs-12 item">
				<div class="col-xs-6">
					<a href="https://www.eclife.com.tw/EDM/Cont5949.htm" target="_blank" class="col-xs-12 item-a">
						<picture>
							<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index_12.png" media="(min-width: 1023px)">
							<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index-m_05.png" media="(max-width: 1023px)">
							<img src="https://img.eclife.com.tw/EDM/11006/618correction/index_12.png" class="img-responsive" alt="首購滿500元送500元" />
						</picture>
					</a>
				</div>
				<div class="col-xs-6">
					<a href="https://page.line.me/fra8942q?openQrModal=true" target="_blank" class="col-xs-12 item-a">
						<picture>
							<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index_13.png" media="(min-width: 1023px)">
							<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index-m_06.png" media="(max-width: 1023px)">
							<img src="https://img.eclife.com.tw/EDM/11006/618correction/index_13.png" class="img-responsive" alt="Line登入送50元" />
						</picture>
					</a>
				</div>
			</div>
			<div class="col-xs-12 lst">
				<div class="col-xs-6 col-md-1-5">
					<a href="https://www.eclife.com.tw/MonthEvent/MatchGame/VVip" target="_blank" class="col-xs-12 lst-a">
						<picture>
							<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index_16.png" media="(min-width: 1023px)">
							<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index-m_07.png" media="(max-width: 1023px)">
							<img src="https://img.eclife.com.tw/EDM/11006/618correction/index_16.png" class="img-responsive" alt="領購物金" />
						</picture>
					</a>
				</div>
				<div class="col-xs-6 col-md-1-5">
					<a href="https://www.eclife.com.tw/MonthEvent/618correction02" target="_blank" class="col-xs-12 lst-a">
						<picture>
							<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index_17.png" media="(min-width: 1023px)">
							<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index-m_08.png" media="(max-width: 1023px)">
							<img src="https://img.eclife.com.tw/EDM/11006/618correction/index_17.png" class="img-responsive" alt="電競四大天王" />
						</picture>
					</a>
				</div>
				<div class="col-xs-4 col-md-1-5">
					<a href="https://www.eclife.com.tw/MonthEvent/618correction03" target="_blank" class="col-xs-12 lst-a">
						<picture>
							<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index_18.png" media="(min-width: 1023px)">
							<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index-m_09.png" media="(max-width: 1023px)">
							<img src="https://img.eclife.com.tw/EDM/11006/618correction/index_18.png" class="img-responsive" alt="稀缺現貨" />
						</picture>
					</a>
				</div>
				<div class="col-xs-4 col-md-1-5">
					<a href="https://www.eclife.com.tw/MonthEvent/618correction04" target="_blank" class="col-xs-12 lst-a">
						<picture>
							<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index_19.png" media="(min-width: 1023px)">
							<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index-m_10.png" media="(max-width: 1023px)">
							<img src="https://img.eclife.com.tw/EDM/11006/618correction/index_19.png" class="img-responsive" alt="一次購足" />
						</picture>
					</a>
				</div>
				<div class="col-xs-4 col-md-1-5">
					<a href="https://www.eclife.com.tw/MonthEvent/618correction05" target="_blank" class="col-xs-12 lst-a">
						<picture>
							<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index_20.png" media="(min-width: 1023px)">
							<source srcset="https://img.eclife.com.tw/EDM/11006/618correction/index-m_11.png" media="(max-width: 1023px)">
							<img src="https://img.eclife.com.tw/EDM/11006/618correction/index_20.png" class="img-responsive" alt="大方送禮" />
						</picture>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="fr-fix">
	<div class="hidden-xs">
		<a href="https://www.eclife.com.tw/SSD/1403040001/1403040002/1611030002/" target="_blank" class="fr-a">WD SSD滿額送</a>
		<a href="https://www.eclife.com.tw/product/brand/ANKER" target="_blank" class="fr-a">ANKER 85折</a>
		<a href="https://www.eclife.com.tw/ups/0904280003/" target="_blank" class="fr-a">儀表滿額折3百</a>
		<a href="https://www.eclife.com.tw/product/brand/ProsKIT" target="_blank" class="fr-a">寶工工具滿額送</a>
		<a href="https://www.eclife.com.tw/pc_nb/0703270001/0503290085/1608190002/" target="_blank" class="fr-a">筆電最高折5千</a>
		<a href="https://www.eclife.com.tw/product/brand/FT" target="_blank" class="fr-a">飛碟UPS↘89折</a>
		<a href="https://www.eclife.com.tw/keyboard/0703260006/0703260003/1510150002/" target="_blank" class="fr-a">真無線買就送</a>
		<a href="https://www.eclife.com.tw/pc_nb/0703270005/1009210001/" target="_blank" class="fr-a">螢幕最低7折起</a>
		<a href="https://www.eclife.com.tw/pc_nb/0809160001/" target="_blank" class="fr-a">PC滿萬送office</a>
		<a href="https://www.eclife.com.tw/EDM/Cont5771.htm" target="_blank" class="fr-a">振興省錢攻略</a>
	</div>
	<!--  GoTop效果寫在架構上了--><div class="GoTop" style="display: none">△<br><span>TOP</span></div>
</div>
<!-- 此段不要複製到每月活動 框架已有 -->
</div>
<!-- 產品 -->
<div class="col-xs-12 ProdList">
	<div class="container">
		<template v-for="(lst,index) in ProdList">
			<div class="col-xs-12" v-if="lst.isBanner == true" :id="'Bn' + index">
				<a :href="lst.Url" :title="lst.ProdName" target="_blank">
				 <picture>
						
						<source :srcset="lst.Img" media="(min-width: 1200px)">
						<source :srcset="lst.ProdImageM" media="(max-width: 992px)">
						
						<img :src="lst.Img" :alt="lst.ProdName" class="img-responsive">
					</picture>
				</a>
			</div>
			<div class="col-xs-6 col-md-3 col-lg-1-5 p-lst" v-else>
				<a :href="lst.Url" :title="lst.ProdName" class="ProdList-a" target="_blank">
					<img :src="lst.Img" :alt="lst.ProdName" class="img-responsive">
					<div class="inner">            
						<del v-if="lst.SpicalPrice<lst.Saveprice">
							${{lst.Saveprice}}
						</del>
						<span class="sPrice" v-if="lst.SpicalPrice=='1'">
							<b>秘密價</b>
						</span>
						<span class="sPrice" v-else-if="lst.SpicalPrice=='2'">
							<b>門市獨享價</b>
						</span>
						<span class="sPrice" v-else>
							<b>${{lst.SpicalPrice}}</b>
						</span>
						<strong>{{lst.memo}}</strong>
						<h2 class="pName">{{lst.ProdName}}</h2>
					</div>
				</a>
			</div>
		</template>
	</div>
</div>

</div>
</div>
<!-- VUE 產品排排站-->
<script src="/Event/js/Index.V1.js"></script>
</body>
</html>