@charset "UTF-8";
.setEnd {
  min-height: calc(100% - 200px);
}
@media (min-width: 290px) and (max-width: 1199px) {
  .setEnd {
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .setEnd {
    min-height: 100vh;
  }
}

.well {
  padding: 10px;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-circle {
  border-radius: 50%;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-hide {
  margin: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 1.42857;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #e6e6e6;
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes mCloud {
  0% {
    transform: translateY(150px);
  }

  100 {
    transform: translateY(0);
  }
}
@keyframes LCloud {
  0% {
    transform: translateX(-150px);
  }

  100 {
    transform: translateX(0);
  }
}
@keyframes RCloud {
  0% {
    transform: translateX(150px);
  }

  100 {
    transform: translateX(0);
  }
}
body {
  background: #0958da;
  background-size: 100%;
  overflow-x: hidden;
}
@media (min-width: 992px) {
  body {
    background: url("https://img.eclife.com.tw/EDM/images/LINEfriend/index_bottombg.jpg") #0958da;
    background-size: 100%;
    overflow-x: hidden;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

#lsdv .ec-logo {
  background-color: black;
  text-align: center;
  font: 1em / 1.2em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
  #lsdv .ec-logo {
    text-align: left;
  }
}
#lsdv .ec-logo .logo-well {
  padding: 10px;
}
#lsdv .ec-logo .logo-a {
  position: relative;
  display: inline-block;
  width: 40%;
  transform: translateY(3px);
  font-weight: bold;
  float: left;
  margin-right: 30px;
}
@media (max-width: 321px) {
  #lsdv .ec-logo .logo-a {
    width: 35%;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .logo-a {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  #lsdv .ec-logo .logo-a {
    width: 15%;
  }
}
#lsdv .ec-logo .txtlink-a {
  position: relative;
  display: inline-block;
  padding: 15px 0 5px;
  margin: 0 5px 0 0;
  color: #cccccc;
  float: left;
  font-size: 1.2em;
}
@media (max-width: 321px) {
  #lsdv .ec-logo .txtlink-a {
    padding: 5px 0 0;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .txtlink-a {
    padding: 32px 0 0;
  }
}
@media (min-width: 992px) {
  #lsdv .ec-logo .txtlink-a {
    padding: 15px 0 0;
  }
}
@media (min-width: 992px) {
  #lsdv .ec-logo .txtlink-a {
    padding: 15px 0 0;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .txtlink-a:after {
    content: "";
    margin: 0 10px;
    border-right: 1px solid;
    position: relative;
    left: 3px;
    top: 1px;
    height: 15px;
    display: inline-block;
  }
}
#lsdv .ec-logo .txtlink-a:last-child:after {
  border-right: none;
}
#lsdv .ec-logo .txtlink-a:nth-child(2) {
  margin: 0 5px 0 10px;
}
@media (max-width: 321px) {
  #lsdv .ec-logo .txtlink-a:nth-child(2) {
    margin: 0 5px;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .txtlink-a:nth-child(2) {
    margin: 0 10px 0 50px;
  }
}
#lsdv .ec-logo .txtlink-a:hover {
  color: white;
}
#lsdv .ec-logo .link-a {
  position: relative;
  display: block;
  width: 100%;
  padding: 5px 0;
  margin: 0 auto;
  color: #cccccc;
  float: left;
}
@media (max-width: 321px) {
  #lsdv .ec-logo .link-a {
    padding: 5px 0 0;
  }
}
#lsdv .ec-logo .link-a:hover {
  color: white;
}
#lsdv .ec-logo .flexslider.txtlink {
  background: white;
}
#lsdv .ec-logo .flexslider.txtlink .slides > li {
  display: inline-block;
  text-align: center;
}
#lsdv .ec-logo .flexslider.txtlink .flex-direction-nav .flex-prev {
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}
#lsdv .ec-logo .flexslider.txtlink .flex-direction-nav .flex-next {
  right: 5px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}
#lsdv .EDM {
  background: url("https://img.eclife.com.tw/EDM/images/LINEfriend/index_m_bg.jpg") 0 0 #0958da no-repeat;
  background-size: 100%;
}
@media (min-width: 992px) {
  #lsdv .EDM {
    background: url("https://img.eclife.com.tw/EDM/images/LINEfriend/index_bottombg.jpg") 0 150px #0958da;
    background-size: 100%;
  }
}
#lsdv .EDM .topbg {
  width: auto;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}
#lsdv .EDM .bd {
  position: relative;
}
#lsdv .EDM .bd .ad {
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.5));
}
#lsdv .EDM .bd .ad:hover {
  animation: scale 1.2s infinite;
}
@media (min-width: 992px) {
  #lsdv .EDM .BenefitWall {
    padding: 0 90px;
  }
}
#lsdv .EDM .btngroup {
  text-align: center;
  margin: 10px 0 80px;
}
@media (min-width: 992px) {
  #lsdv .EDM .btngroup {
    margin: 50px 0 120px;
  }
}
#lsdv .EDM .btn {
  display: inline-block;
  background: white;
  color: #0a59dc;
  border-radius: 10px;
  padding: 10px 50px;
  margin: 50px 10px 0;
  width: 80%;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 1;
}
@media (min-width: 992px) {
  #lsdv .EDM .btn {
    width: auto;
    padding: 10px 50px;
    margin: 0 50px;
  }
  #lsdv .EDM .btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 0.3s;
    background: #f30167;
    z-index: -1;
  }
  #lsdv .EDM .btn:hover {
    color: white;
  }
  #lsdv .EDM .btn:hover:before {
    width: 100%;
  }
}
#lsdv .EDM .Detail {
  color: white;
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 50px 20px 150px;
}
@media (min-width: 768px) {
  #lsdv .EDM .Detail {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM .Detail {
    font-size: 1.2em;
  }
}
#lsdv .EDM .Detail .inner {
  margin: 50px 0 0;
}
#lsdv .EDM .Detail .inner strong {
  color: yellow;
}
#lsdv .EDM .Detail .inner .lst {
  padding-left: 35px;
}
#lsdv .EDM .Detail .inner .lst li {
  list-style: decimal;
}
#lsdv .EDM .fr-fix {
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-align: center;
  z-index: 99;
}
#lsdv .EDM .fr-fix .GoTop {
  color: white;
  cursor: pointer;
  background: black;
  padding: 4px 10px 8px;
  border-radius: 100%;
}
