@charset "UTF-8";
.setEnd {
  min-height: calc(100% - 200px);
}
@media (min-width: 290px) and (max-width: 1199px) {
  .setEnd {
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .setEnd {
    min-height: 100vh;
  }
}

.well {
  padding: 10px;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-circle {
  border-radius: 50%;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-hide {
  margin: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 1.42857143;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #e6e6e6;
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  0%, 100% {
    transform: rotate(-2deg);
  }
}
@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  70% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  60% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes translate {
  0% {
    transform: translate(0, -10px);
  }
  50% {
    transform: translate(5px, 0px);
  }
  100% {
    transform: translate(0, -10px);
  }
}
@keyframes translateX {
  0%, 100% {
    transform: translateX(-5px);
  }
}
@keyframes Title {
  0%, 28%, 35%, 42%, 52%, 72% {
    opacity: 1;
    filter: brightness(1.5);
  }
  45%, 65%, 100% {
    opacity: 1;
    filter: brightness(0.9);
  }
  30%, 40%, 50%, 70% {
    opacity: 0;
  }
}
@keyframes loadingmove {
  0% {
    stroke-dasharray: 90;
    stroke-dashoffset: 90;
  }
  100% {
    stroke-dasharray: 350;
    stroke-dashoffset: 0;
  }
}
.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  overflow-y: auto;
}

.modal-open {
  overflow: hidden;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal-dialog {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: #ffffff;
  border-radius: 15px;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 50%;
  }
}

.modal-content {
  position: relative;
  padding: 50px 0;
}
@media (min-width: 768px) {
  .modal-content {
    padding: 50px;
  }
}

.modal {
  font: 1em/1.2em "微軟正黑體", apple-system-font, "Helvetica Neue", Tahoma, "PingFang SC", "lantinghei sc", "Microsoft Yahei", sans-serif, "新細明體";
}
.modal .icon-cross {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: -45px;
  background: url(https://img.eclife.com.tw/EDM/10906/cross.svg) no-repeat;
  z-index: 9;
  cursor: pointer;
  border: none;
}
.modal .modal-title {
  margin: 0;
  padding: 10px;
  font-size: 1em;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .modal .modal-title {
    margin: 20px 10px;
    padding: 30px 20%;
  }
}
.modal .modal-ps {
  text-align: center;
}
.modal .modal-ps a {
  font-size: 1em;
  line-height: 1.5em;
  color: #757575;
}
.modal .modal-ps a:hover {
  color: #000000;
}
.modal .col-xs-offset-2 {
  padding: 10px 0;
}
.modal .bn-Pay {
  padding: 5px 30px;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2em;
}
@media (min-width: 768px) {
  .modal .bn-Pay {
    display: block;
    border-radius: 50%;
    padding: 30px 20px;
    font-size: 2em;
  }
}

body {
  background: url("https://img.eclife.com.tw/EDM/11003/BullMarket2021/index-m_bg.jpg") center 120px no-repeat, url("https://img.eclife.com.tw/EDM/11003/BullMarket2021/index-m_Pro_bg.jpg") center top repeat-y;
  background-size: 100%;
}
@media (min-width: 992px) {
  body {
    background: url("https://img.eclife.com.tw/EDM/11003/BullMarket2021/index_bg.jpg") center -15px no-repeat, url("https://img.eclife.com.tw/EDM/11003/BullMarket2021/index_Pro_bg.jpg") center top repeat-y;
    background-size: 150%;
  }
}
@media (min-width: 1200px) {
  body {
    background: url("https://img.eclife.com.tw/EDM/11003/BullMarket2021/index_bg.jpg") center -15px no-repeat, url("https://img.eclife.com.tw/EDM/11003/BullMarket2021/index_Pro_bg.jpg") center top repeat-y #000;
  }
}

#lsdv .ProdList {
  margin-bottom: 50px;
  padding: 0 10px;
  font-size: 14px;
  font: 1em/1.3em "微軟正黑體", apple-system-font, "Helvetica Neue", Tahoma, "PingFang SC", "lantinghei sc", "Microsoft Yahei", sans-serif, "新細明體";
}
#lsdv .ProdList .p-lst {
  margin: 0 0 10px;
  padding: 5px 10px;
  text-align: center;
  background: #ffffff;
  transition: all 0.2s ease;
}
@media (min-width: 992px) {
  #lsdv .ProdList .p-lst {
    width: 25%;
  }
}
#lsdv .ProdList .p-lst .inner {
  padding-top: 5px;
}
#lsdv .ProdList .p-lst .pMo {
  margin: 5px 0;
  padding: 5px 0;
  color: #ffffff;
  background: #0098E7;
  height: 27px;
  display: block;
  overflow: hidden;
}
#lsdv .ProdList .p-lst .pName {
  margin: 5px 0;
  color: #666666;
  height: 42px;
  overflow: hidden;
}
#lsdv .ProdList .p-lst .sPrice, #lsdv .ProdList .p-lst .gPrice {
  font-family: futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#lsdv .ProdList .p-lst .gPrice {
  margin: 0 0 5px;
  color: #666666;
}
#lsdv .ProdList .p-lst .sPrice {
  font-weight: bold;
  color: #DB0000;
}
#lsdv .ProdList .p-lst .sPrice b {
  font-size: 1.25em;
  letter-spacing: -1px;
}
@media (min-width: 1200px) {
  #lsdv .ProdList .p-lst .sPrice b {
    font-size: 1.5em;
  }
}
#lsdv .ProdList .p-lst strong {
  display: block;
  height: 20px;
  overflow: hidden;
  font-weight: bold;
  color: #DB0000;
}
#lsdv .ProdList .p-lst:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px 5px rgba(0, 0, 0, 0.2);
  z-index: 9;
}
#lsdv .ec-logo {
  background-color: #de4c34;
  text-align: center;
  font: 1em/1.2em "微軟正黑體", apple-system-font, "Helvetica Neue", Tahoma, "PingFang SC", "lantinghei sc", "Microsoft Yahei", sans-serif, "新細明體";
}
@media (min-width: 768px) {
  #lsdv .ec-logo {
    text-align: left;
  }
}
#lsdv .ec-logo .logo-well {
  padding: 10px;
}
#lsdv .ec-logo .logo-a {
  position: relative;
  display: inline-block;
  width: 40%;
  transform: translateY(3px);
  font-weight: bold;
  float: left;
}
@media (max-width: 321px) {
  #lsdv .ec-logo .logo-a {
    width: 35%;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .logo-a {
    width: 30%;
  }
}
@media (min-width: 992px) {
  #lsdv .ec-logo .logo-a {
    width: 15%;
  }
}
#lsdv .ec-logo .MarqueeWall {
  display: inline-block;
  width: 58%;
  position: relative;
  top: 20px;
  color: white;
  float: right;
}
@media (max-width: 321px) {
  #lsdv .ec-logo .MarqueeWall {
    width: 63%;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .MarqueeWall {
    width: 68%;
  }
}
@media (min-width: 992px) {
  #lsdv .ec-logo .MarqueeWall {
    width: 83%;
  }
}
#lsdv .ec-logo .MarqueeWall .link-a {
  position: relative;
  display: inline-block;
  color: #ffdd00;
  margin: 0 20px 0 0;
  cursor: pointer;
}
#lsdv .EDM {
  position: relative;
}
#lsdv .EDM .bd {
  position: absolute;
}
#lsdv .EDM .TopBgSvg {
  bottom: -20px;
  padding: 10px 11px;
  margin: 35px 0 0;
}
@media (min-width: 768px) {
  #lsdv .EDM .TopBgSvg {
    bottom: -18px;
    padding: 0 3px;
    margin: 110px 0 0;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .TopBgSvg {
    margin: 70px 0 0;
    bottom: -15px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM .TopBgSvg {
    margin: 80px 0 0;
  }
}
#lsdv .EDM .cls-1 {
  stroke: #de4c34;
  stroke-width: 3px;
  stroke-dasharray: 350;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  animation: loadingmove 5s ease-out;
  fill-opacity: 0;
}
#lsdv .EDM .TT, #lsdv .EDM .itemInner {
  bottom: 0;
}
#lsdv .EDM .TT {
  transition: 1s;
  animation: scale 1s ease-out;
}
@media (min-width: 992px) {
  #lsdv .EDM .TT {
    bottom: 20px;
  }
}
#lsdv .EDM .TopBg {
  transition: 1s;
  animation: Title 1s ease-out;
}
#lsdv .EDM .TTWall {
  padding: 0 18px 10px;
}
@media (min-width: 992px) {
  #lsdv .EDM .TTWall {
    padding: 0 9px;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM .TTWall {
    padding: 0 10px;
  }
}
#lsdv .EDM .TTBox {
  padding: 20px 5px;
  border: 2px solid #de4c34;
  color: #469d6b;
  text-align: center;
  animation: tada 1s ease-out;
  animation-delay: 1s;
}
@media (min-width: 1200px) {
  #lsdv .EDM .TTBox {
    padding: 13px 5px;
  }
}
#lsdv .EDM .TTBox p {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.1em;
}
@media (max-width: 321px) {
  #lsdv .EDM .TTBox p {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  #lsdv .EDM .TTBox p {
    font-size: 1.5em;
    line-height: 1.2em;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .TTBox p {
    font-size: 1em;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM .TTBox p {
    font-size: 1.3em;
  }
}
#lsdv .EDM .TTBox h3 {
  margin: 10px 0 0;
  color: #dd4d33;
  font-weight: bold;
  font-size: 1.38em;
  line-height: 1.1em;
}
@media (max-width: 321px) {
  #lsdv .EDM .TTBox h3 {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  #lsdv .EDM .TTBox h3 {
    font-size: 2.2em;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .TTBox h3 {
    font-size: 1.8em;
  }
}
#lsdv .EDM .TTBox h3 .copybtn {
  display: inline-block;
  font-size: 0.8em;
  text-decoration: underline;
  color: #006bca;
}
#lsdv .EDM .TTBox h3 .copybtn:hover {
  filter: drop-shadow(1px 1px 5px #006bca);
}
@media (min-width: 992px) {
  #lsdv .EDM .TTBox h3 .copybtn {
    font-size: 0.5em;
    margin: 0 5px;
    cursor: pointer;
  }
}
#lsdv .EDM .TTBox:before, #lsdv .EDM .TTBox:after {
  content: url("https://img.eclife.com.tw/EDM/11003/BullMarket2021/circle.png");
  position: absolute;
  top: 0;
}
#lsdv .EDM .TTBox:before {
  left: 5px;
}
#lsdv .EDM .TTBox:after {
  right: 5px;
}
#lsdv .EDM .MarqueeWall {
  background: #dd4d33;
}
#lsdv .EDM .MarqueeWall .Marquee {
  height: 30px;
}
@media (min-width: 768px) {
  #lsdv .EDM .MarqueeWall .Marquee {
    height: 40px;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM .MarqueeWall .Marquee {
    height: 30px;
  }
}
#lsdv .EDM .MarqueeWall .Marquee a {
  margin: 0 10px;
  padding: 6px 0 8px;
  color: white;
  display: inline-block;
}
@media (min-width: 768px) {
  #lsdv .EDM .MarqueeWall .Marquee a {
    padding: 10px 0 8px;
    font-size: 1.3em;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM .MarqueeWall .Marquee a {
    padding: 6px 0 8px;
    font-size: 1em;
  }
}
#lsdv .EDM .RPro, #lsdv .EDM .GPro {
  background: rgba(0, 0, 0, 0.5);
}
@media (min-width: 992px) {
  #lsdv .EDM .RPro, #lsdv .EDM .GPro {
    background: none;
  }
}
@media (max-width: 321px) {
  #lsdv .EDM .RPro .RProBg, #lsdv .EDM .RPro .GProBg, #lsdv .EDM .GPro .RProBg, #lsdv .EDM .GPro .GProBg {
    padding: 0 0 70px;
    transform: scaleY(1.2);
    transform-origin: top;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .RPro .RProBg, #lsdv .EDM .RPro .GProBg, #lsdv .EDM .GPro .RProBg, #lsdv .EDM .GPro .GProBg {
    transform: scaleY(1.18) translateY(25px);
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM .RPro .RProBg, #lsdv .EDM .RPro .GProBg, #lsdv .EDM .GPro .RProBg, #lsdv .EDM .GPro .GProBg {
    transform: scaleY(1) translateY(0);
  }
}
#lsdv .EDM .RPro {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
@media (min-width: 992px) {
  #lsdv .EDM .RPro {
    background: none;
  }
}
#lsdv .EDM .RProInner .TopTxt, #lsdv .EDM .GProInner .TopTxt {
  color: white;
}
@media (min-width: 768px) {
  #lsdv .EDM .RProInner .TopTxt, #lsdv .EDM .GProInner .TopTxt {
    font-size: 1.5em;
    line-height: 1.2em;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .RProInner .TopTxt, #lsdv .EDM .GProInner .TopTxt {
    font-size: 1em;
    line-height: 1.2em;
  }
}
#lsdv .EDM .RProInner .TopPrice, #lsdv .EDM .GProInner .TopPrice {
  position: relative;
  margin: 5px 0 0;
  font-size: 1.1em;
  color: #468a61;
}
@media (max-width: 321px) {
  #lsdv .EDM .RProInner .TopPrice, #lsdv .EDM .GProInner .TopPrice {
    font-size: 1em;
  }
}
#lsdv .EDM .RProInner .TopPrice b, #lsdv .EDM .GProInner .TopPrice b {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  vertical-align: middle;
}
#lsdv .EDM .RProInner .TopPrice strong, #lsdv .EDM .GProInner .TopPrice strong {
  font-size: 1.3em;
  margin: 0 5px;
  vertical-align: middle;
  text-shadow: 2px 2px 3px #000;
}
@media (max-width: 321px) {
  #lsdv .EDM .RProInner .TopPrice strong, #lsdv .EDM .GProInner .TopPrice strong {
    font-size: 1.1em;
  }
}
#lsdv .EDM .RProInner .TopPrice span, #lsdv .EDM .GProInner .TopPrice span {
  color: white;
  background: #468a61;
  padding: 2px 5px;
  font-size: 0.7em;
  border-radius: 5px;
  vertical-align: middle;
}
#lsdv .EDM .RProInner .Top, #lsdv .EDM .GProInner .Top {
  margin: 40px 0 0;
  transition: 1s;
}
#lsdv .EDM .RProInner .Top:hover, #lsdv .EDM .GProInner .Top:hover {
  transform: translateY(-10px);
  filter: drop-shadow(2px 2px 10px #000);
}
@media (max-width: 321px) {
  #lsdv .EDM .RProInner .Top, #lsdv .EDM .GProInner .Top {
    margin: 60px 0 0;
  }
}
@media (min-width: 768px) {
  #lsdv .EDM .RProInner .Top, #lsdv .EDM .GProInner .Top {
    margin: 70px 0 0;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .RProInner .Top, #lsdv .EDM .GProInner .Top {
    margin: 130px 0 0;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM .RProInner .Top, #lsdv .EDM .GProInner .Top {
    margin: 120px 0 0;
  }
}
@media (min-width: 768px) {
  #lsdv .EDM .RProInner .Top .TopImg, #lsdv .EDM .GProInner .Top .TopImg {
    margin: 0 0 0 40px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .RProInner .Top .TopImg, #lsdv .EDM .GProInner .Top .TopImg {
    margin: 0;
  }
}
#lsdv .EDM .RProInner .Top .TopTxt, #lsdv .EDM .GProInner .Top .TopTxt {
  padding: 30px 20px 10px 0px;
}
@media (max-width: 321px) {
  #lsdv .EDM .RProInner .Top .TopTxt, #lsdv .EDM .GProInner .Top .TopTxt {
    padding: 10px 20px 10px 0px;
  }
}
@media (min-width: 768px) {
  #lsdv .EDM .RProInner .Top .TopTxt, #lsdv .EDM .GProInner .Top .TopTxt {
    padding: 90px 50px 10px 0px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .RProInner .Top .TopTxt, #lsdv .EDM .GProInner .Top .TopTxt {
    padding: 0px 15px 0 0;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM .RProInner .Top .TopTxt, #lsdv .EDM .GProInner .Top .TopTxt {
    padding: 30px 20px 10px 0px;
  }
}
#lsdv .EDM .RProInner .Top .TopTxt .TopProName, #lsdv .EDM .GProInner .Top .TopTxt .TopProName {
  height: 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  #lsdv .EDM .RProInner .Top .TopTxt .TopProName, #lsdv .EDM .GProInner .Top .TopTxt .TopProName {
    height: 30px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .RProInner .Top .TopTxt .TopProName, #lsdv .EDM .GProInner .Top .TopTxt .TopProName {
    height: 40px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .RProInner .Top .TopTxt .TopPrice, #lsdv .EDM .GProInner .Top .TopTxt .TopPrice {
    line-height: 1.4em;
    text-align: right;
  }
  #lsdv .EDM .RProInner .Top .TopTxt .TopPrice b, #lsdv .EDM .GProInner .Top .TopTxt .TopPrice b {
    padding: 0 55px 0 0;
  }
  #lsdv .EDM .RProInner .Top .TopTxt .TopPrice span, #lsdv .EDM .GProInner .Top .TopTxt .TopPrice span {
    position: absolute;
    top: 4px;
    right: 0;
    line-height: 1.4em;
  }
  #lsdv .EDM .RProInner .Top .TopTxt .TopPrice strong, #lsdv .EDM .GProInner .Top .TopTxt .TopPrice strong {
    display: block;
  }
}
#lsdv .EDM .RProInner .Txt, #lsdv .EDM .GProInner .Txt {
  padding: 5px 25px;
  transition: 1s;
}
#lsdv .EDM .RProInner .Txt:hover, #lsdv .EDM .GProInner .Txt:hover {
  transform: translateY(-10px);
  filter: drop-shadow(2px 2px 10px #000);
}
@media (min-width: 413px) {
  #lsdv .EDM .RProInner .Txt, #lsdv .EDM .GProInner .Txt {
    padding: 10px 25px;
  }
}
@media (min-width: 768px) {
  #lsdv .EDM .RProInner .Txt, #lsdv .EDM .GProInner .Txt {
    padding: 25px 50px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .RProInner .Txt, #lsdv .EDM .GProInner .Txt {
    padding: 15px 25px;
  }
}
#lsdv .EDM .RProInner .Txt:nth-child(2), #lsdv .EDM .GProInner .Txt:nth-child(2) {
  padding: 8px 25px 5px;
}
@media (min-width: 768px) {
  #lsdv .EDM .RProInner .Txt:nth-child(2), #lsdv .EDM .GProInner .Txt:nth-child(2) {
    padding: 30px 50px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .RProInner .Txt:nth-child(2), #lsdv .EDM .GProInner .Txt:nth-child(2) {
    padding: 25px;
  }
}
#lsdv .EDM .RProInner .Txt:last-child, #lsdv .EDM .GProInner .Txt:last-child {
  padding: 5px 25px 10px;
}
@media (min-width: 413px) {
  #lsdv .EDM .RProInner .Txt:last-child, #lsdv .EDM .GProInner .Txt:last-child {
    padding: 10px 25px;
  }
}
@media (min-width: 768px) {
  #lsdv .EDM .RProInner .Txt:last-child, #lsdv .EDM .GProInner .Txt:last-child {
    padding: 15px 50px 25px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .RProInner .Txt:last-child, #lsdv .EDM .GProInner .Txt:last-child {
    padding: 25px;
  }
}
#lsdv .EDM .RProInner .Txt .TopProName, #lsdv .EDM .GProInner .Txt .TopProName {
  height: 40px;
  overflow: hidden;
}
@media (min-width: 768px) {
  #lsdv .EDM .RProInner .Txt .TopProName, #lsdv .EDM .GProInner .Txt .TopProName {
    height: 58px;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .RProInner .Txt .TopProName, #lsdv .EDM .GProInner .Txt .TopProName {
    height: 20px;
    margin: 0 0 5px;
  }
}
#lsdv .EDM .RProInner .Txt .TopPrice, #lsdv .EDM .GProInner .Txt .TopPrice {
  text-align: right;
  margin: 0;
}
#lsdv .EDM .RProInner .Txt .TopPrice strong, #lsdv .EDM .GProInner .Txt .TopPrice strong {
  display: block;
  font-size: 1.1em;
}
@media (min-width: 992px) {
  #lsdv .EDM .RProInner .Txt .TopPrice strong, #lsdv .EDM .GProInner .Txt .TopPrice strong {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  #lsdv .EDM .RProInner .Txt .TopPrice span, #lsdv .EDM .GProInner .Txt .TopPrice span {
    float: right;
  }
}
#lsdv .EDM .RProInner .TopPrice {
  color: #de4c34;
}
#lsdv .EDM .RProInner .TopPrice span {
  background: #de4c34;
}
#lsdv .EDM .itemInner {
  padding: 0 30px;
}
@media (min-width: 992px) {
  #lsdv .EDM .itemInner li {
    display: inline-block;
    width: 12%;
    float: left;
    transition: 1s;
  }
  #lsdv .EDM .itemInner li:hover {
    transform: translateY(-10px);
    filter: drop-shadow(2px 2px 10px #50e08d);
  }
}
#lsdv .EDM .itemInner .flexslider-item .flex-prev {
  top: 50%;
  left: 5px;
  transform: translateY(-50%) rotate(180deg);
  background: url("https://img.eclife.com.tw/EDM/11003/BullMarket2021/next.svg") center no-repeat;
}
#lsdv .EDM .itemInner .flexslider-item .flex-next {
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background: url("https://img.eclife.com.tw/EDM/11003/BullMarket2021/next.svg") center no-repeat;
}
#lsdv .EDM .item-fluid {
  transition: 1s;
}
#lsdv .EDM .js-Nav {
  transition: 1s;
  position: fixed;
  padding: 10px 0 0;
  top: 0;
  width: 100%;
  background: #ad1e00;
  border-bottom: 3px solid #7d1600;
  z-index: 9999;
}
#lsdv .EDM .js-Nav .itemBg {
  display: none;
}
#lsdv .EDM .js-Nav .bd {
  position: relative;
}
#lsdv .fr-fix {
  position: fixed;
  right: 5px;
  bottom: 10px;
  text-align: center;
  z-index: 99;
  filter: drop-shadow(0px 0px 5px #ae0103);
}
@media (min-width: 992px) {
  #lsdv .fr-fix {
    right: 15px;
    bottom: 15px;
  }
}
#lsdv .fr-fix .GoTop {
  padding: 6px 10px 7px;
  cursor: pointer;
  border-radius: 100%;
  background: #ad1e00;
  color: white;
}
@media (min-width: 992px) {
  #lsdv .fr-fix .GoTop {
    padding: 3px 9px 8px;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 1s;
  }
}/*# sourceMappingURL=Event.V1.css.map */