

.img-wapper{
    padding: 0 30px;
    margin: 0 0 30px;
    @media (min-width: 992px) {            
        margin: 0;
    }
    .img-curcle{
        border-radius: 100%;
        overflow: hidden;
    }
}

h1,h2,h3{
    font-size: 1.2rem;
    @media (min-width: 992px) {            
        font-size: 1.5rem;
    }
}
h4{
    font-size: 1.1rem;
}
.hd,.wapper{
    margin: 0 0 30px;
}
.text-drak{
    color: #677D6F;
}
#experience{
    .container{
        @media (min-width: 992px) {            
            padding: 0 7rem;
        }
    }
    .wapper{
        padding-left: 30px;
    }
    .item{
        position: relative;
        padding: 0 0 30px 15px;
        &:before{
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: #EF8D33;
            border-radius: 100%;
            position: absolute;
            top: 5px;
            left: 0;
        }
        &:first-child{
            &:after{
                content: "";
                width: 1px;
                display: inline-block;
                height: 100%;
                border-left: 1px solid #ef8d33;
                position: absolute;
                top: 8px;
                left: 4px;
            }
            
        }
    }
    .text-primary{
        color: #92B39E;
        margin: 0 0 15px;
    }
    .tt{
        margin: 0;
        color: #EF8D33;
    }
    small{
        color: #999999;
    }
    .inner{
        color: #555555;
    }
    .btn-secondary{
        color: white;
    }
}