<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>電源百寶袋</title>
    <link rel="icon" type="image/svg+xml" href="/Slogo.svg"/>
    <link
      href="https://www.eclife.com.tw/web/css/flexslider.css"
      rel="stylesheet"
    />
    <link
      href="https://img.eclife.com.tw/EDM/Structure.min.V1.css"
      rel="stylesheet"
    />
    <link href="../PowerStore/css/Event.V1.css" rel="stylesheet" />
  </head>
  <body>
    <script src="/Event/js/jquery.min.js"></script>
    <script src="/Event/js/bootstrap.min.js"></script>
    <script src="../PowerStore/js/skrollr.min.js"></script>
    <script src="../PowerStore/js/main.js"></script>
    <div id="lsdv">
      <div class="container-fruid">
        <!-- 刊頭 -->
        <div class="col-xs-12 EDM">
          <!--此段不要複製到每月活動 框架已有 -->
          <header>
            <div class="col-xs-12 ec-logo">
              <div class="container logo-well">
                <a
                  href="https://www.eclife.com.tw/"
                  target="_blank"
                  class="logo-a"
                >
                  <img
                    src="https://img.eclife.com.tw/EDM/images/BrandLogi/logo.svg"
                    alt="EcLife"
                    class="img-responsive"
                  />
                </a>
              </div>
            </div>
          </header>
          <div class="eventsPage" style="height: 400%">
            <div
              class="col-xs-12 f-bg f-bg1"
              data-0="height: 100%;"
              data-500="height: 0;"
            >
              <div class="o_figure">
                <div class="container title">
                  <picture>
                    <source
                      srcset="
                        https://img.eclife.com.tw/EDM/11010/PowerStore/index_tt.png
                      "
                      media="(min-width: 1023px)"
                    />
                    <source
                      srcset="
                        https://img.eclife.com.tw/EDM/11010/PowerStore/index-m_tt.png
                      "
                      media="(max-width: 1023px)"
                    />
                    <img
                      src="https://img.eclife.com.tw/EDM/11010/PowerStore/index_tt.png"
                      class="img-responsive"
                      alt=""
                    />
                  </picture>
                </div>
                <picture>
                  <source
                    srcset="
                      https://img.eclife.com.tw/EDM/11010/PowerStore/1920x1280-01.jpg
                    "
                    media="(min-width: 1023px)"
                  />
                  <source
                    srcset="
                      https://img.eclife.com.tw/EDM/11010/PowerStore/mBg-01.jpg
                    "
                    media="(max-width: 1023px)"
                  />
                  <img
                    src="https://img.eclife.com.tw/EDM/11010/PowerStore/1920x1280-01.jpg"
                    class="img-responsive"
                    alt=""
                  />
                </picture>
              </div>
            </div>
            <div
              class="col-xs-12 f-bg f-bg2"
              data-900="height: 100%;"
              data-1500="height: 0;"
            >
              <div class="o_figure">
                <strong class="str-b"
                  >居家辦公<br /><small
                    >打造居家辦公儀式感，提升工作效率好心安!</small
                  ></strong
                >
                <div class="container tit">
                  <div
                    class="PowerIcon"
                    data-700="transform: translateY(20px); opacity: 0;"
                    data-800="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/keyboard/1212030003/0708010001/"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_UPS.svg"
                            class="img-responsive"
                            alt="UPS不斷電系統"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_UPS-2.svg"
                                  class="img-responsive"
                                  alt="UPS不斷電系統"
                                />
                              </div>
                              UPS不斷電系統
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div
                    class="PowerIcon"
                    data-600="transform: translateY(20px); opacity: 0;"
                    data-700="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/dc/1212060023/0704030005/"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_QI.svg"
                            class="img-responsive"
                            alt="Qi/行動電源"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_QI-2.svg"
                                  class="img-responsive"
                                  alt="Qi/行動電源"
                                />
                              </div>
                              Qi/行動電源
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div
                    class="PowerIcon"
                    data-500="transform: translateY(20px); opacity: 0;"
                    data-600="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/dc/0703300028/1206160001/"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_charger.svg"
                            class="img-responsive"
                            alt="充電器/電池"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_charger-2.svg"
                                  class="img-responsive"
                                  alt="充電器/電池"
                                />
                              </div>
                              充電器/電池
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div
                    class="PowerIcon"
                    data-400="transform: translateY(20px); opacity: 0;"
                    data-500="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/dc/1103010001/0503290014/"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_Extension.svg"
                            class="img-responsive"
                            alt="電源延長線"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_Extension-2.svg"
                                  class="img-responsive"
                                  alt="電源延長線"
                                />
                              </div>
                              電源延長線
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div
                    class="PowerIcon"
                    data-300="transform: translateY(20px); opacity: 0;"
                    data-400="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/pc_nb/2101060001/2101060001/"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_light.svg"
                            class="img-responsive"
                            alt="智慧照明"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_light-2.svg"
                                  class="img-responsive"
                                  alt="智慧照明"
                                />
                              </div>
                              智慧照明
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-xs-12 f-bg f-bg3"
              data-1900="height: 100%;"
              data-2500="height: 0;"
            >
              <div class="o_figure">
                <strong class="str-b"
                  >休閒娛樂<br /><small
                    >旅遊不出包，裝備齊全一把罩，輕鬆娛樂一次到!</small
                  ></strong
                >
                <div class="container tit">
                  <div
                    class="PowerIcon"
                    data-1700="transform: translateY(20px); opacity: 0;"
                    data-1800="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/dc/1212060023/0704030005/"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_QI.svg"
                            class="img-responsive"
                            alt="Qi/行動電源"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_QI-2.svg"
                                  class="img-responsive"
                                  alt="Qi/行動電源"
                                />
                              </div>
                              Qi/行動電源
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div
                    class="PowerIcon"
                    data-1600="transform: translateY(20px); opacity: 0;"
                    data-1700="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/dc/0703300028/1206160001/"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_charger.svg"
                            class="img-responsive"
                            alt="充電器/電池"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_charger-2.svg"
                                  class="img-responsive"
                                  alt="充電器/電池"
                                />
                              </div>
                              充電器/電池
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div
                    class="PowerIcon"
                    data-1500="transform: translateY(20px); opacity: 0;"
                    data-1600="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/dc/0703300017/0904280001/"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_transformer.svg"
                            class="img-responsive"
                            alt="雙向變壓器"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_transformer-2.svg"
                                  class="img-responsive"
                                  alt="雙向變壓器"
                                />
                              </div>
                              雙向變壓器
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div
                    class="PowerIcon"
                    data-1400="transform: translateY(20px); opacity: 0;"
                    data-1500="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/health/0906170001/1301040003/1403200001/"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_Power.svg"
                            class="img-responsive"
                            alt="車用電源供應器"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_Power-2.svg"
                                  class="img-responsive"
                                  alt="車用電源供應器"
                                />
                              </div>
                              車用電源供應器
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div
                    class="PowerIcon"
                    data-1300="transform: translateY(20px); opacity: 0;"
                    data-1400="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/health/0906170001/1301040003/1104070001/"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_car.svg"
                            class="img-responsive"
                            alt="車用充電座"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_car-2.svg"
                                  class="img-responsive"
                                  alt="車用充電座"
                                />
                              </div>
                              車用充電座
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 f-bg f-bg4" data-1500="height: 100%;">
              <div class="o_figure">
                <strong
                  >廠房設備<br /><small
                    >請放心!全方位電源供應，輕鬆開啟您的全新之巔!</small
                  ></strong
                >
                <div class="container tit">
                  <div
                    class="PowerIcon"
                    data-2600="transform: translateY(20px); opacity: 0;"
                    data-2700="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/keyboard/1212030003/0503290009/"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_UPS.svg"
                            class="img-responsive"
                            alt="UPS不斷電系統"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_UPS-2.svg"
                                  class="img-responsive"
                                  alt="UPS不斷電系統"
                                />
                              </div>
                              UPS不斷電系統
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div
                    class="PowerIcon"
                    data-2500="transform: translateY(20px); opacity: 0;"
                    data-2600="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/dc/1103010001/0503290014/"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_Extension.svg"
                            class="img-responsive"
                            alt="電源延長線"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_Extension-2.svg"
                                  class="img-responsive"
                                  alt="電源延長線"
                                />
                              </div>
                              電源延長線
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div
                    class="PowerIcon"
                    data-2400="transform: translateY(20px); opacity: 0;"
                    data-2500="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/ups/0703300018/1906260001/"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_transformer.svg"
                            class="img-responsive"
                            alt="工業用變壓器"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_transformer-2.svg"
                                  class="img-responsive"
                                  alt="工業用變壓器"
                                />
                              </div>
                              工業用變壓器
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div
                    class="PowerIcon"
                    data-2300="transform: translateY(20px); opacity: 0;"
                    data-2400="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/product/brand/meanwell"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_Power.svg"
                            class="img-responsive"
                            alt="工業用電源供應器"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_Power-2.svg"
                                  class="img-responsive"
                                  alt="工業用電源供應器"
                                />
                              </div>
                              工業用電源供應器
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                  <div
                    class="PowerIcon"
                    data-2200="transform: translateY(20px); opacity: 0;"
                    data-2300="transform: translateY(0px); opacity: 1;"
                  >
                    <a
                      href="https://www.eclife.com.tw/pc_nb/2101060001/2101060001/"
                      target="_blank"
                      class="qb_btn-acc"
                    >
                      <div class="btn-wrapper">
                        <span class="btn-circle">
                          <img
                            src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_light.svg"
                            class="img-responsive"
                            alt="智慧照明"
                          />
                        </span>
                        <span class="btn-body">
                          <span class="box">
                            <span class="tag">
                              <div class="PowerImg">
                                <img
                                  src="https://img.eclife.com.tw/EDM/11010/PowerStore/icon_light-2.svg"
                                  class="img-responsive"
                                  alt="智慧照明"
                                />
                              </div>
                              智慧照明
                            </span>
                          </span>
                        </span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
