<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>雙11瘋狂配對</title>
    <link rel="icon" type="image/svg+xml" href="/Slogo.svg"/>
    <link href="https://img.eclife.com.tw/EDM/Structure.min.V1.css" rel="stylesheet"/>
    <link href="../CrazyMate/css/Event.V1.css" rel="stylesheet" />
  </head>
  <body>
    <script src="/Event/js/jquery.min.js"></script>
    <script src="/Event/js/bootstrap.min.js"></script>
    <script src="/Event/js/vue.js"></script>

    <div id="lsdv" v-cloak>
      <div class="container-fruid">
        <!-- 刊頭 -->
        <div class="col-xs-12 EDM" v-html>
          <!-- 此段不要複製到每月活動 框架已有 -->
          
          <div class="container-fluid ec-logo">
            <div class="container logo-well">
              <a
                href="https://www.eclife.com.tw/"
                target="_blank"
                class="logo-a"
              >
                <img
                  src="https://img.eclife.com.tw/EDM/10907/MediaShow/Coupon/EClogo-white.svg"
                  alt="EcLife"
                  class="img-responsive"
                />
              </a>
            </div>
          </div>

          <div class="container-fluid EDM" data-name="EDM">
            <div class="col-xs-12">
              <picture>
                
                <source
                  srcset="
                    https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_title_bg.png
                  "
                  media="(min-width: 1023px)"
                />
                <source
                  srcset="
                    https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_title_bg_m.png
                  "
                  media="(max-width: 1023px)"
                />
                
                <img
                  src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_title_bg.png"
                  alt="擂台"
                  width="1920"
                  height="837"
                  class="title-bg"
                />
              </picture>
              <div class="container">
                <div class="bd title-inner">
                  <div class="col-xs-12 title-model">
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_model.png
                        "
                        media="(min-width: 1023px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_model_m.png
                        "
                        media="(max-width: 1023px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_model.png"
                        alt="女模"
                        width="1170"
                        height="837"
                        class="img-responsive"
                      />
                    </picture>
                  </div>
                  <a
                    href="https://www.eclife.com.tw/EDM/Cont5826.htm"
                    target="_blank"
                    class="bd title"
                  >
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_title.png
                        "
                        media="(min-width: 1023px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_title_m.png
                        "
                        media="(max-width: 1023px)"
                      />
                      
                      <img
                        src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_title.png"
                        alt="雙11瘋狂配對夜"
                        width="1170"
                        height="837"
                        class="img-responsive"
                      />
                    </picture>
                  </a>
                  <a
                    href="https://www.eclife.com.tw/EDM/Cont5826.htm"
                    target="_blank"
                    class="bd-lt TengaCup"
                  >
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_TengaCup.png
                        "
                        media="(min-width: 1023px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_TengaCup_m.png
                        "
                        media="(max-width: 1023px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_TengaCup.png"
                        alt="加購111填補空虛"
                        width="1170"
                        height="837"
                        class="img-responsive"
                      />
                    </picture>
                  </a>
                  <a
                    href="https://www.eclife.com.tw/EDM/Cont5826.htm"
                    target="_blank"
                    class="bd-lt storegive"
                  >
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_storegive.png
                        "
                        media="(min-width: 1023px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_storegive_m.png
                        "
                        media="(max-width: 1023px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_storegive.png"
                        alt="門市取貨現折2%"
                        width="1170"
                        height="837"
                        class="img-responsive"
                      />
                    </picture>
                  </a>
                  <div class="bd-pro-inner">
                    <a href="" target="_blank" class="bd-pro ProLeft hidden-xs hidden-sm">
						<img src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/ProLeft.png" alt="title" width="1170" height="837" class="img-responsive" />
					</a>
					<a href="" target="_blank" class="bd-pro ProRight hidden-xs hidden-sm">
						<img src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/ProRight.png" alt="title" width="1170" height="837" class="img-responsive" />
					</a>
                  </div>
                </div>
                <div class="col-xs-12 bd-pro-inner-m">
                  <a href="" target="_blank" class="col-xs-12 hidden-md hidden-lg ProLeft">
					<img src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/ProLeft_m.png" alt="title" width="1170" height="837" class="img-responsive" />
				</a>
				<a href="" target="_blank" class="col-xs-12 hidden-md hidden-lg ProRight">
					<img src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/ProRight_m.png" alt="title" width="1170" height="837" class="img-responsive" />
				</a>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div target="_blank" class="col-xs-12 col-md-6 bt4-1">
                      <a
                        href="https://www.eclife.com.tw/MonthEvent/CrazyMateV2"
                        target="_blank"
                      >
                        <picture>
                          <source
                            srcset="
                              https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_4bt_1.png
                            "
                            media="(min-width: 1023px)"
                          />
                          <source
                            srcset="
                              https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_4bt_1_m.png
                            "
                            media="(max-width: 1023px)"
                          />
                          <img
                            src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_4bt_1.png"
                            alt="雙11專區"
                            width="1170"
                            height="837"
                            class="img-responsive"
                          />
                        </picture>
                      </a>
                    </div>
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/CrazyMateV4"
                      target="_blank"
                      class="col-xs-12 col-md-6 bt4-3"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_4bt_3.png
                          "
                          media="(min-width: 1023px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_4bt_3_m.png
                          "
                          media="(max-width: 1023px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_4bt_3.png"
                          alt="買一送一"
                          width="1170"
                          height="837"
                          class="img-responsive"
                        />
                      </picture>
                    </a>
                  </div>
                  <div class="col-xs-6">
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/CrazyMateV3"
                      target="_blank"
                      class="col-xs-12 col-md-6 bt4-2"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_4bt_2.png
                          "
                          media="(min-width: 1023px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_4bt_2_m.png
                          "
                          media="(max-width: 1023px)"
                        />
                        
                        <img
                          src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_4bt_2.png"
                          alt="每日雙飛"
                          width="1170"
                          height="837"
                          class="img-responsive"
                        />
                      </picture>
                    </a>
                    <a
                      href="https://www.eclife.com.tw/EDM/Cont5818.htm"
                      target="_blank"
                      class="col-xs-12 col-md-6 bt4-4"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_4bt_4.png
                          "
                          media="(min-width: 1023px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_4bt_4_m.png
                          "
                          media="(max-width: 1023px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_4bt_4.png"
                          alt="瘋狂配對"
                          width="1170"
                          height="837"
                          class="img-responsive"
                        />
                      </picture>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <a href="" target="_blank" class="col-xs-4 col-md-2 bt6">
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_1.png
                        "
                        media="(min-width: 1023px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_1_m.png
                        "
                        media="(max-width: 1023px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_1.png"
                        alt="鍵鼠"
                        width="1170"
                        height="837"
                        class="img-responsive"
                      />
                    </picture>
                  </a>
                  <a href="" target="_blank" class="col-xs-4 col-md-2 bt6">
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_2.png
                        "
                        media="(min-width: 1023px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_2_m.png
                        "
                        media="(max-width: 1023px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_2.png"
                        alt="筆電"
                        width="1170"
                        height="837"
                        class="img-responsive"
                      />
                    </picture>
                  </a>
                  <a href="" target="_blank" class="col-xs-4 col-md-2 bt6">
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_3.png
                        "
                        media="(min-width: 1023px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_3_m.png
                        "
                        media="(max-width: 1023px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_3.png"
                        alt="家電"
                        width="1170"
                        height="837"
                        class="img-responsive"
                      />
                    </picture>
                  </a>
                  <a href="" target="_blank" class="col-xs-4 col-md-2 bt6">
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_4.png
                        "
                        media="(min-width: 1023px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_4_m.png
                        "
                        media="(max-width: 1023px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_4.png"
                        alt="遊戲機"
                        width="1170"
                        height="837"
                        class="img-responsive"
                      />
                    </picture>
                  </a>
                  <a href="" target="_blank" class="col-xs-4 col-md-2 bt6">
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_5.png
                        "
                        media="(min-width: 1023px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_5_m.png
                        "
                        media="(max-width: 1023px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_5.png"
                        alt="網通"
                        width="1170"
                        height="837"
                        class="img-responsive"
                      />
                    </picture>
                  </a>
                  <a href="" target="_blank" class="col-xs-4 col-md-2 bt6">
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_6.png
                        "
                        media="(min-width: 1023px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_6_m.png
                        "
                        media="(max-width: 1023px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/10911/CrazyMate202011/index_6bt_6.png"
                        alt="儲存"
                        width="1170"
                        height="837"
                        class="img-responsive"
                      />
                    </picture>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-fix">
            <div class="fr-hd">
              <a href="https://www.eclife.com.tw/MonthEvent/CrazyMateV2_2">
			<img src="http://img.eclife.com.tw/EDM/10911/CrazyMate202011/1091106-YJ-fr.gif" alt="雙11狂歡節">
		</a>
            </div>
            <div class="hidden-xs">
              <a
                href="https://www.eclife.com.tw/MonthEvent/CrazyMateLCD"
                target="_blank"
                class="fr-a"
                >福利價買新螢幕</a
              >
              <a
                href="https://www.eclife.com.tw/product/brand/j5"
                target="_blank"
                class="fr-a"
                >j5凱捷全面85折</a
              >
              <a
                href="https://www.eclife.com.tw/MonthEvent/CrazyMateE105"
                target="_blank"
                class="fr-a"
                >儀表滿7千送手鉗</a
              >
              <a
                href="https://www.eclife.com.tw/product/brand/ProsKIT"
                target="_blank"
                class="fr-a"
                >寶工工具滿額送</a
              >
              <a
                href="https://www.eclife.com.tw/pc_nb/0703270001/0503290085/1608190002/"
                target="_blank"
                class="fr-a"
                >筆電最高折5千</a
              >
              <a
                href="https://www.eclife.com.tw/product/brand/FT"
                target="_blank"
                class="fr-a"
                >飛碟UPS↘89折</a
              >
              <a
                href="https://www.eclife.com.tw/keyboard/0703260006/0703260003/1510150002/"
                target="_blank"
                class="fr-a"
                >真無線買就送</a
              >
              <a
                href="https://www.eclife.com.tw/pc_nb/0809160001/"
                target="_blank"
                class="fr-a"
                >PC滿萬送office</a
              >
              <a
                href="https://www.eclife.com.tw/product/brand/meanwell"
                target="_blank"
                class="fr-a"
                >【MW明緯】95折</a
              >
            </div>
            <!--  GoTop效果寫在架構上了-->
            <div class="GoTop" style="display: none">
              ▲<br /><span>TOP</span>
            </div>
          </div>
        </div>
        <!-- 產品 -->
        <div class="col-xs-12 ProdList">
          <div class="container">
            <template v-for="(lst,index) in ProdList">
				<div class="col-xs-12" v-if="lst.isBanner == 'true'" :id="'Bn' + index">
					<a :href="lst.Url" :title="lst.ProdName" target="_blank">
					 <picture>
							
							<source :srcset="lst.Img" media="(min-width: 1200px)">
							<source :srcset="lst.ProdImageM" media="(max-width: 992px)">
							
							<img :src="lst.Img" :alt="lst.ProdName" class="img-responsive">
						</picture>
					</a>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-1-5 p-lst" v-else>
					<a :href="lst.Url" :title="lst.ProdName" class="ProdList-a" target="_blank">
						<img :src="lst.Img" :alt="lst.ProdName" class="img-responsive">
						<div class="inner">            
							<del v-if="lst.SpicalPrice<lst.Saveprice">
								${{lst.Saveprice}}
							</del>
							<span class="sPrice" v-if="lst.SpicalPrice=='1'">
								<b>秘密價</b>
							</span>
							<span class="sPrice" v-else-if="lst.SpicalPrice=='2'">
								<b>門市獨享價</b>
							</span>
							<span class="sPrice" v-else>
								<b>${{lst.SpicalPrice}}</b>
							</span>
							<strong>{{lst.memo}}</strong>
							<h2 class="pName">{{lst.ProdName}}</h2>
						</div>
					</a>
				</div>
				</template>
          </div>
        </div>
      </div>
    </div>
    <!-- VUE 產品排排站-->
    <script src="/Event/js/Index.V1.js"></script>
  </body>
</html>
