<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>良興商行</title>
    <link rel="icon" type="image/svg+xml" href="/Slogo.svg"/>   
    <link
    href="https://img.eclife.com.tw/EDM/Structure.min.V1.css"
    rel="stylesheet"
    />
    <link
      href="../grocery/css/Event.V1.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <script src="/Event/js/jquery.min.js"></script>
    <script src="/Event/js/bootstrap.min.js"></script>
    <script src="/Event/js/vue.js"></script>

    <div id="lsdv" v-cloak>
      <div class="container-fruid">
        <!-- 刊頭 -->
        <div class="col-xs-12 EDM" v-html>
         
          <header>
            <div class="col-xs-12 ec-logo">
              <div class="container logo-well">
                <a
                  href="https://www.eclife.com.tw/"
                  target="_blank"
                  class="logo-a"
                >
                  <img
                    src="https://img.eclife.com.tw/EDM/images/BrandLogi/logo.svg"
                    alt="EcLife"
                    class="img-responsive"
                  />
                </a>
              </div>
            </div>
          </header>
          <div class="col-xs-12 EDM eventsPage" data-name="EDM">
            <div class="container-fruid hd">
              <div class="container bd">
                <!--標題-->
                <div class="col-xs-12 col-md-8 inner">
                  <div class="col-xs-12 animated animate__bounceInLeft title">
                    <a
                      href="https://www.eclife.com.tw/EDM/Cont6105.htm"
                      target="_blank"
                      class="col-xs-12 topPro"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_05.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_title.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_05.png"
                          alt="良興商行"
                          class="img-responsive"
                        />
                      </picture>
                    </a>
                    <a
                      href="https://www.eclife.com.tw/ecAPP/"
                      target="_blank"
                      class="app"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/APP-PC.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/APP-m.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/APP-PC.png"
                          alt="APP"
                          class="img-responsive"
                        />
                      </picture>
                    </a>
                  </div>
                  <a
                    href="https://www.eclife.com.tw/EDM/Cont6105.htm"
                    target="_blank"
                    class="col-xs-12 topPro"
                  >
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/11105/grocery202205/index_09.png
                        "
                        media="(min-width: 1200px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_03.png
                        "
                        media="(max-width: 992px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_09.png"
                        alt="滿額優惠"
                        class="img-responsive"
                      />
                    </picture>
                  </a>
                </div>
                <div class="col-xs-12 col-md-4">
                  <a
                    href="./timeup.html"
                    target="_blank"
                    class="col-xs-12 topPro"
                  >
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/11105/grocery202205/index_06.png
                        "
                        media="(min-width: 1200px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_05.png
                        "
                        media="(max-width: 992px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_06.png"
                        alt="限時下殺"
                        class="img-responsive"
                      />
                    </picture>
                  </a>
                  <a
                    href="./Game.V1.html"
                    target="_blank"
                    class="col-xs-12 topPro gameBg"
                  >
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/11105/grocery202205/index_08.png
                        "
                        media="(min-width: 1200px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_06.png
                        "
                        media="(max-width: 992px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_08.png"
                        alt="氣球報報樂"
                        class="img-responsive"
                      />
                    </picture>
                  </a>
                </div>
                <div class="col-xs-12">
                  <!--主打品1-->
                  <a
                    href="主打品1連結"
                    target="_blank"
                    class="col-xs-12 col-md-6 flag"
                  >
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/11105/grocery202205/index_10.png
                        "
                        media="(min-width: 1200px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_07.png
                        "
                        media="(max-width: 992px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_10.png"
                        alt="主打品1"
                        class="img-responsive"
                      />
                    </picture>
                  </a>
                  <!--主打品2-->
                  <a
                    href="主打品2連結"
                    target="_blank"
                    class="col-xs-12 col-md-6 flag"
                  >
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/11105/grocery202205/index_11.png
                        "
                        media="(min-width: 1200px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_08.png
                        "
                        media="(max-width: 992px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_11.png"
                        alt="主打品2"
                        class="img-responsive"
                      />
                    </picture>
                  </a>
                </div>
                <div class="col-xs-12 brand_BG">
                  <div class="row">
                    <!-- 品牌1 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/BrandLogi/"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_12.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_daddyitem_01.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_12.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="logitechG"
                        />
                      </picture>
                    </a>
                    <!-- 品牌2 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/RazerProSe"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_13.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_daddyitem_02.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_13.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="CHERRY"
                        />
                      </picture>
                    </a>
                    <!-- 品牌3 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/RazerProSe"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_14.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_daddyitem_03.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_14.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="RAZER"
                        />
                      </picture>
                    </a>
                    <!-- 品牌4 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/ASUSROG"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_15.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_daddyitem_04.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_15.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="CORSAIR"
                        />
                      </picture>
                    </a>
                  </div>
                  <div class="row">
                    <!-- 品牌5 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/CORSAIR2021"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_16.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_daddyitem_05.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_16.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="Steelseries"
                        />
                      </picture>
                    </a>
                    <!-- 品牌6 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/MSIGamer"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_17.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_daddyitem_06.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_17.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="linksys"
                        />
                      </picture>
                    </a>
                    <!-- 品牌7 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/ASUSROG"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_18.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_daddyitem_07.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_18.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="msi"
                        />
                      </picture>
                    </a>
                    <!-- 品牌8 -->
                    <a
                      href="https://www.eclife.com.tw/product/brand/Samsung"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_19.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_daddyitem_08.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_19.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="asus"
                        />
                      </picture>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12 item_BG">
                  <div class="row">
                    <!-- 分類1 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/BrandLogi/"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_20.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_16.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_20.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="鍵盤滑鼠"
                        />
                      </picture>
                    </a>
                    <!-- 分類2 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/RazerProSe"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_21.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_17.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_21.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="筆記型電腦"
                        />
                      </picture>
                    </a>
                    <!-- 分類3 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/BrandLogi/"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_22.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_18.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_22.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="螢幕"
                        />
                      </picture>
                    </a>
                    <!-- 分類4 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/BrandLogi/"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_23.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_19.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_23.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="喇叭"
                        />
                      </picture>
                    </a>
                  </div>
                  <div class="row">
                    <!-- 分類5 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/BrandLogi/"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_24.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_20.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_24.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="ups"
                        />
                      </picture>
                    </a>
                    <!-- 分類6 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/BrandLogi/"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_25.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_21.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_25.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="網通"
                        />
                      </picture>
                    </a>
                    <!-- 分類7 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/BrandLogi/"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_26.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_22.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_26.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="視訊直播麥克風"
                        />
                      </picture>
                    </a>
                    <!-- 分類8 -->
                    <a
                      href="https://www.eclife.com.tw/MonthEvent/BrandLogi/"
                      target="_blank"
                      class="col-xs-6 col-md-3 brand"
                    >
                      <picture>
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index_27.png
                          "
                          media="(min-width: 1200px)"
                        />
                        <source
                          srcset="
                            https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_23.png
                          "
                          media="(max-width: 992px)"
                        />
                        <img
                          src="https://img.eclife.com.tw/EDM/11105/grocery202205/index_27.png"
                          alt="logitech"
                          class="img-responsive"
                          alt="報稅相關"
                        />
                      </picture>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--側條-->
          <div class="fr-fix">
            <div class="hidden-xs">
              <div class="fr-hd">
                <a
                  href="https://www.eclife.com.tw/MonthEvent/grocery202205_game/VVip"
                >
                  <img
                    src="https://img.eclife.com.tw/EDM/11105/grocery202205/fr-img.png"
                    alt=""
                  />
                </a>
              </div>
              <div class="fr_bg">
                <a href="" target="_blank" class="fr-a">三星▼登錄送好禮</a>
                <a href="" target="_blank" class="fr-a">羅技▼滿額送好禮</a>
                <a href="" target="_blank" class="fr-a">RAZER▼56折起</a>
                <a href="" target="_blank" class="fr-a">賽睿▼最高省千元</a>
                <a href="" target="_blank" class="fr-a">ROG▼抽萬元禮﻿</a>
                <a href="" target="_blank" class="fr-a">海盜船▼59折起﻿</a>
                <a href="" target="_blank" class="fr-a">MSI▼螢幕省5千﻿</a>
                <a href="" target="_blank" class="fr-a">BENQ▼登錄送﻿</a>
              </div>
            </div>
            <!-- GoTop效果寫在架構上了 -->
            <div class="GoTop" style="display: none">
              △<br /><span>TOP</span>
            </div>
          </div>
        </div>
        <!-- 產品 -->
        <div class="col-xs-12 ProdList">
          <div class="container">
            <template v-for="(lst,index) in ProdList">
              <div class="col-xs-12" v-if="lst.isBanner == 'true'" :id="'Bn' + index">
                <a :href="lst.Url" :title="lst.ProdName" target="_blank">
                 <picture>
                          
                          <source :srcset="lst.Img" media="(min-width: 1200px)">
                          <source :srcset="lst.ProdImageM" media="(max-width: 992px)">
                          
                          <img :src="lst.Img" :alt="lst.ProdName" class="img-responsive">
                      </picture>
                </a>
              </div>
              <div class="col-xs-6 col-md-3 col-lg-1-5 p-lst" v-else>
                <a :href="lst.Url" :title="lst.ProdName" class="ProdList-a" target="_blank">
                  <img :src="lst.Img" :alt="lst.ProdName" class="img-responsive">
                      <div class="inner">            
                          <del v-if="lst.SpicalPrice<lst.Saveprice">
                              ${{lst.Saveprice}}
                          </del>
                          <span class="sPrice" v-if="lst.SpicalPrice=='1'">
                              <b>秘密價</b>
                          </span>
                          <span class="sPrice" v-else-if="lst.SpicalPrice=='2'">
                              <b>門市獨享價</b>
                          </span>
                          <span class="sPrice" v-else>
                              <b>${{lst.SpicalPrice}}</b>
                          </span>
                          <strong>{{lst.memo}}</strong>
                          <h2 class="pName">{{lst.ProdName}}</h2>
                      </div>
                </a>
              </div>
              </template>
          </div>
        </div>
      </div>
    </div>
    <!-- VUE 產品排排站-->
    <script src="/Event/js/Index.V1.js"></script>
  </body>
</html>
