@charset "UTF-8";
.setEnd {
  min-height: calc(100% - 200px);
}
@media (min-width: 290px) and (max-width: 1199px) {
  .setEnd {
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .setEnd {
    min-height: 100vh;
  }
}

.well {
  padding: 10px;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-circle {
  border-radius: 50%;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-hide {
  margin: 0;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 1.42857143;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #e6e6e6;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  0%, 100% {
    transform: rotate(-2deg);
  }
}
@keyframes translate {
  0% {
    transform: translate(0, -10px);
  }
  50% {
    transform: translate(5px, 0px);
  }
  100% {
    transform: translate(0, -10px);
  }
}
@keyframes translateX {
  0%, 100% {
    transform: translateX(-5px);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform-origin: top center;
    transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
    transform-origin: top center;
    transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
    transform-origin: top center;
    transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    transform-origin: top center;
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform-origin: top center;
    transform: rotate(0deg);
  }
}
@keyframes flash {
  0%, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flipInY {
  0% {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotateY(90deg);
    animation-timing-function: ease-in;
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
  }
  40% {
    -webkit-animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotateY(-20deg);
    animation-timing-function: ease-in;
    transform: perspective(400px) rotateY(-20deg);
  }
  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    opacity: 1;
    transform: perspective(400px) rotateY(10deg);
  }
  80% {
    transform: perspective(400px) rotateY(-5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@keyframes tada {
  0% {
    transform: scaleX(1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }
  to {
    transform: scaleX(1);
  }
}
.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  overflow-y: auto;
}

.modal-open {
  overflow: hidden;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal-dialog {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: #ffffff;
  border-radius: 15px;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 50%;
  }
}

.modal-content {
  position: relative;
  padding: 50px 0;
}
@media (min-width: 768px) {
  .modal-content {
    padding: 50px;
  }
}

.modal {
  font: 1em/1.2em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.modal .icon-cross {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: -45px;
  background: url(https://img.eclife.com.tw/EDM/10906/cross.svg) no-repeat;
  z-index: 9;
  cursor: pointer;
  border: none;
}
.modal .modal-title {
  margin: 0;
  padding: 10px;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-weight: bold;
}
@media (min-width: 768px) {
  .modal .modal-title {
    margin: 20px 10px;
  }
}
.modal .modal-ps {
  text-align: center;
}
.modal .modal-ps a {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  color: #ffffff;
  padding: 20px 50px;
  background: #b52e00;
  border-radius: 30px;
  display: inline-block;
  margin: 0 0 20px;
}
.modal .modal-ps a:hover {
  color: #ffff00;
}
.modal .col-xs-offset-2 {
  padding: 10px 0;
}
.modal .bn-Pay {
  padding: 5px 30px;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2em;
}
@media (min-width: 768px) {
  .modal .bn-Pay {
    display: block;
    border-radius: 50%;
    padding: 30px 20px;
    font-size: 2em;
  }
}

.js-doc {
  overflow: hidden;
}

#js-doc-bg {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  line-height: inherit;
  color: black;
  border: 0;
  border-bottom: 1px solid black;
}

label {
  display: inline-block;
  max-width: 100%;
  margin: 0 5px 0 0;
}

input {
  font: 1em/1em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type=radio],
input[type=checkbox] {
  margin: 4px 0 0;
  margin-top: 1px \9 ;
  line-height: normal;
  vertical-align: middle;
  display: none;
}

input[type=checkbox] + label, input[type=radio] + label {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
}

input[type=checkbox] + label {
  background: url(/CC-Daily/images/check.svg) 0 0 no-repeat;
}

input[type=radio] + label {
  background: url(/CC-Daily/images/radio.svg) 0 0 no-repeat;
}

input[type=checkbox]:checked + label {
  background: url(/CC-Daily/images/check.svg) -20px 0 no-repeat;
}

input[type=radio]:checked + label {
  background: url(/CC-Daily/images/radio.svg) -20px 0 no-repeat;
}

input[type=file]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.form-group:before, .form-group:after {
  display: table;
  content: " ";
  clear: both;
}

.form-control {
  padding: 0 10px;
  color: black;
  background: white;
  border: 1px solid #dddddd;
  border-radius: 0;
  font-family: "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-control:focus, .form-control:hover {
  box-shadow: 0 0 15px 0 #dddddd;
  border: 1px solid #dddddd;
  outline: 1px solid #dddddd;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background: #e6e6e6;
  opacity: 1;
  cursor: not-allowed;
}

.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.form-inline .input-group {
  display: inline-table;
  vertical-align: middle;
}
.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
  width: auto;
}
.form-inline .input-group > .form-control {
  width: 100%;
}

.has-feedback {
  position: relative;
}

.has-success {
  background: #0098e7;
}

.has-warning {
  background: #df0000;
}

.has-error {
  background: #df0000;
}

.help-block {
  display: block;
  margin: 5px 0 10px;
  color: black;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  touch-action: manipulation;
  white-space: nowrap;
  font: 1.2em/1em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  border: none;
  border-radius: 0;
}
.btn:hover, .btn:focus, .btn.focus, .btn:active, .btn.active {
  border: none;
  outline: none;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
}

.bn-Pay {
  background: url(https://www.eclife.com.tw/images/bt-PayBg.png);
  color: white;
}

.bn-keep {
  background: url(https://www.eclife.com.tw/images/bt-CartBg.png);
  color: white;
}

.bn-out {
  background: #d0d0d0;
  color: white;
}
.bn-out:hover, .bn-out:focus {
  background: #a6a6a6;
  box-shadow: 0 0 5px 0 #b3b3b3;
}

.btn-link {
  padding: 5px;
  background: linear-gradient(#0089d3, #0078ba);
  -pie-background: linear-gradient(#0089d3, #0078ba);
  behavior: url(/pie/PIE.htc);
  color: white;
  font: 0.85em/1.5em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.05px;
}
.btn-link:hover, .btn-link:focus {
  background: #0078ba;
  -pie-background: #0078ba;
  box-shadow: 0 0 5px 0 #0089d3;
}

.btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 20px;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 5px;
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

.close {
  cursor: pointer;
  background: none;
  border: none;
}

body {
  background: url("https://img.eclife.com.tw/EDM/11008/takuo202108/index-m_ButtomBg.jpg") repeat top center;
  background-size: 100%;
  background-attachment: fixed;
}
@media (min-width: 992px) {
  body {
    background: url("https://img.eclife.com.tw/EDM/11008/takuo202108/index_ButtomBg.jpg") repeat top center;
  }
}
@media (min-width: 1200px) {
  body {
    background: url("https://img.eclife.com.tw/EDM/11008/takuo202108/index_ButtomBg.jpg") no-repeat top center;
    background-attachment: fixed;
  }
}

#lsdv .ProdList {
  margin-bottom: 50px;
  padding: 0 10px;
  font-size: 14px;
  font: 1em/1.3em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#lsdv .ProdList .p-lst {
  margin: 0 0 10px;
  padding: 5px 10px;
  text-align: center;
  background: #ffffff;
  transition: all 0.2s ease;
}
@media (min-width: 1200px) {
  #lsdv .ProdList .p-lst {
    width: 25%;
  }
}
#lsdv .ProdList .p-lst .inner {
  padding-top: 5px;
}
#lsdv .ProdList .p-lst .pMo {
  margin: 5px 0;
  padding: 5px 0;
  color: #ffffff;
  background: #0098e7;
  height: 27px;
  display: block;
  overflow: hidden;
}
#lsdv .ProdList .p-lst .pName {
  margin: 5px 0;
  color: #666666;
  height: 42px;
  overflow: hidden;
}
#lsdv .ProdList .p-lst .sPrice, #lsdv .ProdList .p-lst .gPrice {
  font-family: futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#lsdv .ProdList .p-lst .gPrice {
  margin: 0 0 5px;
  color: #666666;
}
#lsdv .ProdList .p-lst .sPrice {
  font-weight: bold;
  color: #df0000;
}
#lsdv .ProdList .p-lst .sPrice b {
  font-size: 1.25em;
  letter-spacing: -1px;
}
@media (min-width: 1200px) {
  #lsdv .ProdList .p-lst .sPrice b {
    font-size: 1.5em;
  }
}
#lsdv .ProdList .p-lst strong {
  display: block;
  height: 20px;
  overflow: hidden;
  font-weight: bold;
  color: #df0000;
}
#lsdv .ProdList .p-lst:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px 5px rgba(0, 0, 0, 0.2);
  z-index: 9;
}
#lsdv .ec-logo {
  background-color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  #lsdv .ec-logo {
    text-align: left;
  }
}
#lsdv .ec-logo .logo-well {
  padding: 10px;
}
#lsdv .ec-logo .logo-a {
  position: relative;
  display: inline-block;
  width: 80%;
  transform: translateY(3px);
  font-weight: bold;
}
@media (min-width: 768px) {
  #lsdv .ec-logo .logo-a {
    width: 50%;
    float: left;
  }
}
@media (min-width: 992px) {
  #lsdv .ec-logo .logo-a {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  #lsdv .ec-logo .logo-a {
    width: 20%;
  }
}
#lsdv .ec-logo .link-a {
  position: relative;
  display: inline-block;
  padding: 20px 0 0;
  margin: 0 5px 0 0;
  color: #581b0b;
  float: left;
}
@media (max-width: 321px) {
  #lsdv .ec-logo .link-a {
    padding: 5px 0 0;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .link-a {
    padding: 15px 0 0;
  }
}
@media (min-width: 992px) {
  #lsdv .ec-logo .link-a {
    padding: 10px 0 0;
  }
}
@media (min-width: 1200px) {
  #lsdv .ec-logo .link-a {
    padding: 15px 0 0;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .link-a:after {
    content: "｜";
    margin-left: 10px;
  }
}
#lsdv .ec-logo .link-a:last-child:after {
  content: "";
}
#lsdv .ec-logo .link-a:nth-child(2) {
  margin: 0 5px 0 10px;
}
@media (max-width: 321px) {
  #lsdv .ec-logo .link-a:nth-child(2) {
    margin: 0 5px;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .link-a:nth-child(2) {
    margin: 0 10px 0 30px;
  }
}
#lsdv .ec-logo .link-a:hover {
  color: #94331a;
}
#lsdv .ec-logo .link-a:hover:after {
  color: #581b0b;
}
#lsdv .EDM .TopBg {
  background: url("https://img.eclife.com.tw/EDM/11008/takuo202108/index-m_TopBg.jpg") no-repeat top center;
  background-size: 100%;
}
@media (min-width: 992px) {
  #lsdv .EDM .TopBg {
    background: url("https://img.eclife.com.tw/EDM/11008/takuo202108/index.V4_Bg.jpg") no-repeat top center;
    background-size: 155%;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM .TopBg {
    background: url("https://img.eclife.com.tw/EDM/11008/takuo202108/index.V4_Bg.jpg") no-repeat top center;
  }
}
#lsdv .EDM .TopBg .top-pro {
  animation: flipInY 1s;
}
#lsdv .EDM .TopBg .Top-a {
  transition: 1s;
}
#lsdv .EDM .TopBg .Top-a:hover {
  transform: translateY(-20px);
}
#lsdv .EDM .TopBg .title-a {
  transition: 1s;
}
#lsdv .EDM .TopBg .title-a:hover {
  transform: translateY(3px);
}
#lsdv .EDM .CanvasBg {
  position: absolute;
  bottom: 0;
  background: url("https://img.eclife.com.tw/EDM/11008/takuo202108/index-m_CanvasBg.png") no-repeat top center;
  background-size: 100%;
}
@media (min-width: 992px) {
  #lsdv .EDM .CanvasBg {
    background: url("https://img.eclife.com.tw/EDM/11008/takuo202108/index_CanvasBg.png") no-repeat top center;
    background-size: 155%;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM .CanvasBg {
    background: url("https://img.eclife.com.tw/EDM/11008/takuo202108/index_CanvasBg.png") no-repeat top center;
  }
}
#lsdv .EDM .CanvasBg .item-a {
  transition: 1s;
}
#lsdv .EDM .CanvasBg .item-a:hover {
  animation: tada 1s;
}
#lsdv .EDM .LogoArea .logoArea-a {
  transition: 1s;
}
#lsdv .EDM .LogoArea .logoArea-a .logoUP {
  opacity: 1;
}
#lsdv .EDM .LogoArea .logoArea-a .logoDOWN {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#lsdv .EDM .LogoArea .logoArea-a:hover {
  transform: translateY(-10px);
}
#lsdv .EDM .LogoArea .logoArea-a:hover .logoUP {
  opacity: 0;
}
#lsdv .EDM .LogoArea .logoArea-a:hover .logoDOWN {
  opacity: 1;
}
#lsdv .EDM .fr-fix {
  position: fixed;
  right: 0;
  bottom: 10px;
  text-align: center;
  z-index: 99;
}
@media (min-width: 992px) {
  #lsdv .EDM .fr-fix {
    bottom: 25%;
  }
}
#lsdv .EDM .fr-fix .frImg {
  width: 150px;
}
#lsdv .EDM .fr-fix .fr-inner {
  padding: 10px;
  background: #0089d3;
  border-radius: 15px 0 0 15px;
}
#lsdv .EDM .fr-fix .fr-a {
  display: block;
  padding: 5px 0 5px 5px;
  border-bottom: 1px solid #0078ba;
  color: #ffffff;
}
#lsdv .EDM .fr-fix .fr-a:hover {
  color: #ffff00;
}
#lsdv .EDM .fr-fix .GoTop {
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}/*# sourceMappingURL=Event.V4.css.map */