<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>良興魷魚遊戲</title>
    <link rel="icon" type="image/svg+xml" href="/Slogo.svg"/>
    <link
      href="https://www.eclife.com.tw/web/css/flexslider.css"
      rel="stylesheet"
    />
    <link
      href="https://img.eclife.com.tw/EDM/Structure.min.V1.css"
      rel="stylesheet"
    />
    <link
      href="../shelloutgame/css/Event.V1.css"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <script src="/Event/js/jquery.min.js"></script>
    <script src="/Event/js/jquery.flexslider.js"></script>
    <script src="/Event/js/bootstrap.min.js"></script>
    <script src="/Event/js/vue.js"></script>

    <div id="lsdv" v-cloak>
      <div class="container-fruid">
        <!-- 刊頭 -->
        <div class="col-xs-12 EDM">          
          <header>
            <div class="col-xs-12 ec-logo">
              <div class="container logo-well">
                <a
                  href="https://www.eclife.com.tw/"
                  target="_blank"
                  class="logo-a"
                >
                  <img
                    src="https://img.eclife.com.tw/EDM/11009/shelloutgame/logo-w.svg"
                    alt="EcLife"
                    class="img-responsive"
                  />
                </a>
              </div>
            </div>
          </header>
          <div class="col-xs-12 EDM eventsPage" data-name="EDM">
            <div class="container bd">
              <div class="col-xs-12 hd">
                <div class="col-xs-12 title">
                  <picture>
                    <source
                      srcset="
                        https://img.eclife.com.tw/EDM/11009/shelloutgame/index_tt.png
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        https://img.eclife.com.tw/EDM/11009/shelloutgame/index-m_tt.png
                      "
                      media="(max-width: 992px)"
                    />
                    <img
                      src="https://img.eclife.com.tw/EDM/11009/shelloutgame/index_tt.png"
                      alt="良興魷魚遊戲"
                      class="img-responsive"
                    />
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <!--GoTop-->
          <div id="gotop" title="置頂" style="opacity: 1; display: none"></div>
        </div>
        <!-- 產品 -->
        <div class="col-xs-12 ProdList">
          <div class="container">
            <template v-for="(lst,index) in ProdList">
                <div class="col-xs-12" v-if="lst.isBanner == 'true'" :id="'Bn' + index">
                    <a :href="lst.Url" :title="lst.ProdName" target="_blank">
                     <picture>
                            
                            <source :srcset="lst.Img" media="(min-width: 1200px)">
                            <source :srcset="lst.ProdImageM" media="(max-width: 992px)">
                            
                            <img :src="lst.Img" :alt="lst.ProdName" class="img-responsive">
                        </picture>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-1-5 p-lst" v-else>
                    <a :href="lst.Url" :title="lst.ProdName" class="ProdList-a" target="_blank">
                        <img :src="lst.Img" :alt="lst.ProdName" class="img-responsive">
                        <div class="inner">            
                            <del v-if="lst.SpicalPrice<lst.Saveprice">
                                ${{lst.Saveprice}}
                            </del>
                            <span class="sPrice" v-if="lst.SpicalPrice=='1'">
                                <b>秘密價</b>
                            </span>
                            <span class="sPrice" v-else-if="lst.SpicalPrice=='2'">
                                <b>門市獨享價</b>
                            </span>
                            <span class="sPrice" v-else>
                                <b>${{lst.SpicalPrice}}</b>
                            </span>
                            <strong>{{lst.memo}}</strong>
                            <h2 class="pName">{{lst.ProdName}}</h2>
                        </div>
                    </a>
                </div>
                </template>
          </div>
        </div>
      </div>
    </div>
    <!-- VUE 產品排排站-->
    <script src="/Event/js/Index.V1.js"></script>
  </body>
</html>
