<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LINE 好友招募</title>
    <link rel="icon" type="image/svg+xml" href="/Slogo.svg"/>
    <link href="https://www.eclife.com.tw/web/css/flexslider.css" rel="stylesheet"/>
    <link
      href="https://img.eclife.com.tw/EDM/Structure.min.V1.css"
      rel="stylesheet"
    />
    <link href="../LINEfriends/css/Event.css" rel="stylesheet" />
  </head>
  <body>
    
    <script src="/Event/js/jquery.min.js"></script>
    <script src="/Event/js/jquery.flexslider.js"></script>
    <script src="/Event/js/bootstrap.min.js"></script>
    <script src="../LINEfriends/js/main.js"></script>

    <div id="lsdv">
      <div class="container-fruid">
        <!-- 刊頭 -->
        <div class="col-xs-12 EDM">
          <link
            href="https://img.eclife.com.tw/EDM/images/LINEfriend/Event.css"
            rel="stylesheet"
          />
          <div class="col-xs-12 ec-logo">
            <div class="container logo-well">
              <a
                href="https://www.eclife.com.tw/"
                target="_blank"
                class="logo-a"
              >
                <img
                  src="https://img.eclife.com.tw/EDM/10907/MediaShow/Coupon/EClogo-white.svg"
                  alt="EcLife"
                  class="img-responsive"
                />
              </a>
            </div>
          </div>
          <div class="col-xs-12 EDM" data-name="EDM">
            <div class="container-fruid">
              <div id="title" class="container">
                <div class="hidden-xs hidden-sm topbg">
                  <picture>
                    <source
                      srcset="
                        https://img.eclife.com.tw/EDM/images/LINEfriend/index_bg.jpg
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        https://img.eclife.com.tw/EDM/images/LINEfriend/index_sm.png
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      src="https://img.eclife.com.tw/EDM/images/LINEfriend/index_bg.jpg"
                      alt=""
                      class=""
                    />
                  </picture>
                </div>
                <a
                  class="col-md-3 LINEfriends hidden-xs hidden-sm"
                  href="https://page.line.me/fra8942q?openQrModal=true"
                  target="_blank"
                >
                  <picture>
                    <source
                      srcset="
                        https://img.eclife.com.tw/EDM/images/LINEfriend/index_LINEfriends.png
                      "
                      media="(min-width: 993px)"
                    />
                    <source
                      srcset="
                        https://img.eclife.com.tw/EDM/images/LINEfriend/index_m_LINEfriends.png
                      "
                      media="(max-width: 992px)"
                    />
                    <img
                      src="https://img.eclife.com.tw/EDM/images/LINEfriend/index_LINEfriends.png"
                      alt=""
                      class="img-responsive"
                    />
                  </picture>
                </a>
                <a
                  class="col-xs-12 col-md-9 tt"
                  href="https://page.line.me/fra8942q?openQrModal=true"
                  target="_blank"
                >
                  <picture>
                    <source
                      srcset="
                        https://img.eclife.com.tw/EDM/images/LINEfriend/index_title.png
                      "
                      media="(min-width: 993px)"
                    />
                    <source
                      srcset="
                        https://img.eclife.com.tw/EDM/images/LINEfriend/index_m_title.png
                      "
                      media="(max-width: 992px)"
                    />
                    <img
                      src="https://img.eclife.com.tw/EDM/images/LINEfriend/index_title.png"
                      alt=""
                      class="img-responsive"
                    />
                  </picture>
                </a>

                <div class="col-xs-12 BenefitWall">
                  <div class="col-xs-12 col-sm-4 Benefit">
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/images/LINEfriend/index_benefit-01.png
                        "
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/images/LINEfriend/index_m_benefit-01.png
                        "
                        media="(max-width: 767px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/images/LINEfriend/index_benefit-01.png"
                        alt=""
                        class="img-responsive"
                      />
                    </picture>
                  </div>
                  <div class="col-xs-12 col-sm-4 Benefit">
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/images/LINEfriend/index_benefit-02.png
                        "
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/images/LINEfriend/index_m_benefit-02.png
                        "
                        media="(max-width: 767px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/images/LINEfriend/index_benefit-02.png"
                        alt=""
                        class="img-responsive"
                      />
                    </picture>
                  </div>
                  <div class="col-xs-12 col-sm-4 Benefit">
                    <picture>
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/images/LINEfriend/index_benefit-03.png
                        "
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset="
                          https://img.eclife.com.tw/EDM/images/LINEfriend/index_m_benefit-03.png
                        "
                        media="(max-width: 767px)"
                      />
                      <img
                        src="https://img.eclife.com.tw/EDM/images/LINEfriend/index_benefit-03.png"
                        alt=""
                        class="img-responsive"
                      />
                    </picture>
                  </div>
                </div>
              </div>
            </div>
            <div class="container bd">
              <div id="AD">
                <a class="col-xs-12 ad" href="#ADetail">
                  <picture>
                    <source
                      srcset="
                        https://img.eclife.com.tw/EDM/images/LINEfriend/index_ad.png
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        https://img.eclife.com.tw/EDM/images/LINEfriend/index_m_ad.png
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="https://img.eclife.com.tw/EDM/images/LINEfriend/iindex_ad.png"
                      alt="Cloud"
                      class="img-responsive"
                    />
                  </picture>
                </a>
              </div>

              <div class="col-xs-12 Step">
                <picture>
                  <source
                    srcset="
                      https://img.eclife.com.tw/EDM/images/LINEfriend/index_Step.png
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      https://img.eclife.com.tw/EDM/images/LINEfriend/index_m_Step.png
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="https://img.eclife.com.tw/EDM/images/LINEfriend/iindex_Step.png"
                    alt="Cloud"
                    class="img-responsive"
                  />
                </picture>
              </div>
              <div class="col-xs-12 btngroup">
                <a
                  class="btn"
                  target="_blank"
                  href="https://page.line.me/fra8942q?openQrModal=true"
                  title="加入良興好友"
                  >加入良興好友</a
                >
                <a
                  class="btn"
                  target="_blank"
                  href="https://www.eclife.com.tw/Personal/ShoppingCash/"
                  title="查詢購物金"
                  >查詢購物金</a
                >
              </div>
              <div class="col-xs-12 Detail">
                <div class="inner ActiveDetail" id="ADetail">
                  <strong>活動說明</strong>
                  <p class="tt">首次Line登入送購物金</p>
                  <ul class="lst">
                    <li>
                      活動期間，於EcLife良興購物網首次使用LINE登入，可獲得50元購物金(滿500折抵50元)。(登入立即領取，隔日開始使用，使用截止日領取後自動推算60天)
                    </li>
                    <li>購物金贈送，不累計，每一會員限得乙次</li>
                  </ul>
                </div>
                <div class="inner LstDetail" id="BDetail">
                  <strong>注意事項</strong>
                  <ul class="lst">
                    <li>
                      活動期間，於EcLife良興購物網首次使用LINE登入，可獲得50元購物金(滿500折抵50元)。(登入立即領取，隔日開始使用，使用截止日領取後自動推算60天)
                    </li>
                    <li>購物金贈送，不累計，每一會員限得乙次</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="fr-fix">
            <div class="GoTop" style="display: none">
              △<br /><span>TOP</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- VUE 產品排排站-->
  </body>
</html>
