@charset "UTF-8";
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
@keyframes rotate {
  0%, 100% {
    transform: rotate(-2deg);
  }
}
@keyframes translate {
  0% {
    transform: translate(0, -10px);
  }
  50% {
    transform: translate(5px, 0px);
  }
  100% {
    transform: translate(0, -10px);
  }
}
@keyframes translateX {
  0%, 100% {
    transform: translateX(-5px);
  }
}
@keyframes shake {
  0%, to {
    transform: translateZ(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes rotateInDownLeft {
  0% {
    opacity: 0;
    transform: rotate(-45deg);
    transform-origin: left bottom;
  }
  to {
    opacity: 1;
    transform: translateZ(0);
    transform-origin: left bottom;
  }
}
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes btncolor {
  20%, 60%, to {
    box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.8);
  }
  40%, 80% {
    box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.3);
  }
}
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  70% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  60% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
/* animations */
@keyframes typed {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes app {
  0% {
    transform: translateX(300px);
    z-index: -1;
  }
  100% {
    transform: translateX(0px);
    z-index: 0;
  }
}
.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  overflow-y: auto;
}

.modal-open {
  overflow: hidden;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal-dialog {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 50%;
  }
}

.modal-content {
  position: relative;
  padding: 50px 0;
}
@media (min-width: 768px) {
  .modal-content {
    padding: 50px;
  }
}

.modal {
  font: 1em/1.2em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.modal .icon-cross {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: -45px;
  background: url(https://img.eclife.com.tw/EDM/10906/cross.svg) no-repeat;
  z-index: 9;
  cursor: pointer;
  border: none;
}
.modal .modal-title {
  margin: 0;
  padding: 10px;
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
  font-weight: bold;
}
@media (min-width: 768px) {
  .modal .modal-title {
    margin: 20px 10px;
  }
}
@media (min-width: 992px) {
  .modal .modal-title {
    font-size: 1.5em;
  }
}
.modal .modal-ps {
  text-align: center;
}
.modal .modal-ps a {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: bold;
  color: #000000;
  padding: 20px 50px;
  background: #f7ae07;
  border-radius: 30px;
  display: inline-block;
  margin: 0 0 40px;
}
.modal .modal-ps a:hover {
  color: #ffffff;
}
@media (min-width: 992px) {
  .modal .modal-ps a {
    font-size: 1.5em;
  }
}
.modal .col-xs-offset-2 {
  padding: 10px 0;
}
.modal .bn-Pay {
  padding: 5px 30px;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2em;
}
@media (min-width: 768px) {
  .modal .bn-Pay {
    display: block;
    border-radius: 50%;
    padding: 30px 20px;
    font-size: 2em;
  }
}

body {
  background: url("https://img.eclife.com.tw/EDM/11105/grocery202205/index-m_bg.jpg") top center repeat;
  background-size: 100%;
}
@media (min-width: 992px) {
  body {
    background: url("https://img.eclife.com.tw/EDM/11105/grocery202205/index_bg.jpg") top center repeat;
    background-attachment: fixed;
  }
}

#lsdv .htmlfix {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#333333, #000000);
  position: fixed;
  z-index: 999;
}
#lsdv .wrapper {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#lsdv .circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}
#lsdv .circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
#lsdv .circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
#lsdv .shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}
#lsdv .shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
#lsdv .shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
#lsdv .wrapper span {
  position: absolute;
  top: 75px;
  font-family: "Lato";
  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  left: 15%;
}
#lsdv .ec-logo {
  background-color: #000000;
  text-align: center;
  font: 1em/1.2em "微軟正黑體", "新細明體", futuramedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
  #lsdv .ec-logo {
    text-align: left;
  }
}
#lsdv .ec-logo .logo-well {
  padding: 10px;
}
#lsdv .ec-logo .logo-a {
  position: relative;
  display: inline-block;
  width: 40%;
  transform: translateY(3px);
  font-weight: bold;
  float: left;
}
@media (max-width: 321px) {
  #lsdv .ec-logo .logo-a {
    width: 35%;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .logo-a {
    width: 30%;
  }
}
@media (min-width: 992px) {
  #lsdv .ec-logo .logo-a {
    width: 15%;
  }
}
#lsdv .ec-logo .link-a {
  position: relative;
  display: inline-block;
  padding: 18px 0 0;
  margin: 0 5px 0 0;
  color: #cccccc;
  float: left;
  font-size: 1.2em;
}
@media (max-width: 321px) {
  #lsdv .ec-logo .link-a {
    padding: 5px 0 0;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .link-a {
    padding: 32px 0 0;
  }
}
@media (min-width: 992px) {
  #lsdv .ec-logo .link-a {
    padding: 15px 0 0;
  }
}
@media (min-width: 992px) {
  #lsdv .ec-logo .link-a {
    padding: 15px 0 0;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .link-a:after {
    content: "";
    margin: 0 10px;
    border-right: 1px solid;
    position: relative;
    left: 3px;
    top: 1px;
    height: 15px;
    display: inline-block;
  }
}
#lsdv .ec-logo .link-a:last-child:after {
  border-right: none;
}
#lsdv .ec-logo .link-a:nth-child(2) {
  margin: 0 5px 0 10px;
}
@media (max-width: 321px) {
  #lsdv .ec-logo .link-a:nth-child(2) {
    margin: 0 5px;
  }
}
@media (min-width: 768px) {
  #lsdv .ec-logo .link-a:nth-child(2) {
    margin: 0 10px 0 50px;
  }
}
#lsdv .ec-logo .link-a:hover {
  color: #ffffff;
}
#lsdv .EDM {
  position: relative;
  background: url("https://img.eclife.com.tw/EDM/11105/grocery202205/timeup/index-m_time_bg.jpg") top center no-repeat;
  background-size: 100%;
}
@media (min-width: 992px) {
  #lsdv .EDM {
    background: url("https://img.eclife.com.tw/EDM/11105/grocery202205/timeup/index-time_bg.jpg") top center no-repeat;
    background-size: 155%;
  }
}
@media (min-width: 1200px) {
  #lsdv .EDM {
    background: url("https://img.eclife.com.tw/EDM/11105/grocery202205/timeup/index-time_bg.jpg") top center no-repeat;
  }
}
#lsdv .EDM .inner {
  background: linear-gradient(102deg, #fbf159, #fcd728, #fbf159);
  border: 3px solid #71011c;
  border-radius: 11px;
  padding: 10px;
}
#lsdv .EDM .timeup {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#lsdv .EDM .timeup .inner {
  display: flex;
  padding: 20px 40px 15px;
  font-size: 1.3em;
  font-weight: bold;
  color: #000;
  border: 2px solid #71011c;
  z-index: 9;
}
@media (min-width: 992px) {
  #lsdv .EDM .timeup .inner {
    padding: 30px 80px 20px;
    font-size: 2em;
    border: 3px solid #71011c;
  }
}
#lsdv .EDM .timeup .inner [id*=count] {
  padding: 3px 8px;
  background: #da251c;
  border: 2px solid #191919;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  margin: -4px 5px 0;
}
@media (min-width: 992px) {
  #lsdv .EDM .timeup .inner [id*=count] {
    padding: 8px 15px;
    border: 2px solid #191919;
    margin: -8px 5px 0;
  }
}
#lsdv .EDM .todayProBox, #lsdv .EDM .comingProBox {
  padding: 0 10px 20px;
  z-index: 1;
}
#lsdv .EDM .todayProBox {
  margin-top: -10px;
}
#lsdv .EDM .todayProBox .todayPro:hover {
  animation: tada 1s;
}
#lsdv .EDM .comingProBox .comingMask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(252, 215, 40, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
}
#lsdv .EDM .ProB:before, #lsdv .EDM .ProS:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://img.eclife.com.tw/EDM/11105/grocery202205/timeup/Pro-before.png");
  background-size: 100%;
  z-index: 2;
}
#lsdv .EDM .ProS:before {
  background: url("https://img.eclife.com.tw/EDM/11105/grocery202205/timeup/Pro-Saleout.png");
  background-size: 100%;
}

.fr-fix {
  position: fixed;
  right: 0;
  bottom: 10px;
  border-radius: 0 0 0 15px;
  text-align: center;
  z-index: 99;
  overflow: hidden;
}
@media (min-width: 992px) {
  .fr-fix {
    bottom: 25%;
  }
}
.fr-fix .fr_bg {
  background: #ea020e;
}
.fr-fix .fr-a {
  display: none;
}
@media (min-width: 992px) {
  .fr-fix .fr-a {
    display: block;
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid rgba(65, 34, 18, 0.2);
    color: #fff001;
  }
  .fr-fix .fr-a:last-child {
    border-bottom: none;
  }
  .fr-fix .fr-a:hover {
    color: #ffffff;
  }
}
.fr-fix .GoTop {
  background: #ea020e;
  padding: 10px;
  font-weight: 600;
  color: #fff001;
  cursor: pointer;
}
@media (min-width: 992px) {
  .fr-fix .GoTop {
    padding: 0 10px 10px;
    border-top: 2px solid rgba(65, 34, 18, 0.2);
  }
}